.git/
.m2/
target/

# ignore unused files, reducing image size
src/main/webapp/js/plugs/ueditor1_4_3-utf8-jsp/
src/main/webapp/js/plugs/echarts-2.2.3/
src/main/webapp/js/plugs/echarts/echarts-master/.github/
src/main/webapp/js/plugs/echarts/echarts-master/asset/
src/main/webapp/js/plugs/echarts/echarts-master/build/
src/main/webapp/js/plugs/echarts/echarts-master/extension/
src/main/webapp/js/plugs/echarts/echarts-master/map/
src/main/webapp/js/plugs/echarts/echarts-master/src/
src/main/webapp/js/plugs/echarts/echarts-master/test/
src/main/webapp/js/plugs/jquery-ui-1.9.0.custom/
src/main/webapp/js/plugs/zeroclipboard-master/test/
