<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" monitorInterval="30">
<properties>
    <property name="appName">DWSurvey</property>
    <property name="LOG_HOME">${sys:catalina.home}/logs/diaowen/${appName}</property>
    <property name="errorfilepath">${LOG_HOME}/error.log</property>
    <property name="layout">%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-5p %c{1.} %l %F - %m%n</property>
    <property name="layout2">%d{yyyy/MM/dd HH:mm:ss.SSS} %-5level %c{3.} %L %M - %msg%xEx%n</property>
    <property name="layout3">%d{yyyy/MM/dd HH:mm:ss.sss} %-5level %class{36} %L %M - %msg%xEx%n</property>
</properties>
<appenders>
    <Console name="Console" target="SYSTEM_OUT">
        <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        <PatternLayout pattern="${layout2}"/>
    </Console>
    <!--  测试时使用 -->
    <File name="log" fileName="${LOG_HOME}/test-temp.log" append="false">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
    </File>
    <RollingFile name="RollingFile" fileName="${LOG_HOME}/app.log"
                 filePattern="${LOG_HOME}/app.log.%d{yyyy-MM-dd-HH}-%i.log.gz">
        <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
        <PatternLayout pattern="${layout}"/>
        <Policies>
            <SizeBasedTriggeringPolicy size="10MB"/>
            <!-- 每小时文件rollover -->
            <CronTriggeringPolicy schedule="0 0 * * * ?"/>
            <!--TimeBasedTriggeringPolicy表示按照时间间隔来进行日志文件的滚动，间隔单位可以是分钟、小时，具体需要根据filePattern的格式来进行判别；-->
            <!--例如filePattern="e:/app-%d{yyyy-MM-dd_HH-mm}-%i.out"，则表示mm（分钟）为单位；-->
            <!--<TimeBasedTriggeringPolicy interval="1" modulate="true"/>-->
        </Policies>
        <!-- DefaultRolloverStrategy属性如不设置，则默认为最多同一文件夹下7个文件，这里设置了20 -->
        <DefaultRolloverStrategy max="20">
            <!-- 删除策略，basePath表示根文件夹，maxDepth表示路径深度，0表示根目录自身，默认1，仅仅根目录下的文件可访问，删除无法恢复请慎重-->
            <Delete basePath="${LOG_HOME}" maxDepth="0">
                <IfFileName glob="app.log*.log.gz"/>
                <!-- 删除30天前的数据-->
                <ifLastModified age="30d"/>
                <!-- 访问文件数，保留最新10个文件 exceeds表示删除的文件数量阈值-->
                <IfAccumulatedFileCount exceeds="10"/>
            </Delete>
        </DefaultRolloverStrategy>
    </RollingFile>
</appenders>

<loggers>

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="RollingFile"/>
    </root>

    <logger name="org.springframework" level="ERROR" additivity="false" >
        <appender-ref ref="Console"/>
    </logger>

    <logger name="com.baomidou.mybatisplus" level="INFO" additivity="false" >
        <appender-ref ref="Console"/>
    </logger>

    <logger name="log4j.logger.com.ibatis" level="DEBUG" additivity="false" >
        <appender-ref ref="Console"/>
    </logger>
    <logger name="com.key.common" level="DEBUG" additivity="false" >
        <appender-ref ref="Console"/>
    </logger>
    <logger name="com.key.dwsurvey" level="DEBUG" additivity="false" >
        <appender-ref ref="Console"/>
    </logger>

</loggers>
</configuration>
