<?xml version="1.0" encoding="UTF-8"?>

<!-- 支持服务Dao层spring bean配置文件 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">
	
	<bean class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService" id="imageCaptchaService"/>
	<!-- 
	<bean id="captchaEngine" class="com.octo.captcha.engine.image.gimpy.SimpleListImageCaptchaEngine"/>
	
	<bean id="captchaService" class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService" singleton="true">
		<property name="captchaEngine" ref="captchaEngine"/>
	</bean>
	 -->
	<bean id="captchaService" class="com.octo.captcha.service.multitype.GenericManageableCaptchaService">
		<description>验证码服务</description>
		<constructor-arg index="0"><ref bean="imageEngine"/></constructor-arg>
		<constructor-arg index="1"><value>180</value></constructor-arg><!--超时时间 秒-->
		<constructor-arg index="2"><value>180000</value></constructor-arg><!--最大并发数-->
		<constructor-arg index="3"><value>20000</value></constructor-arg><!--第四个参数官网示例上没有给出，会报错，后来看了API才知道少了个参数-->
	</bean>
	
	<bean id="imageEngine" class="com.octo.captcha.engine.GenericCaptchaEngine">
		<description>图片引擎</description>
		<constructor-arg index="0">
			<list>
				<ref bean="CaptchaFactory"/>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="CaptchaFactory" class="com.octo.captcha.image.gimpy.GimpyFactory" >
		<description>验证码工厂</description>
		<constructor-arg><ref bean="wordgen"/></constructor-arg>
		<constructor-arg><ref bean="wordtoimage"/></constructor-arg>
	</bean>
	
	<bean id="wordgen" class= "com.octo.captcha.component.word.wordgenerator.DictionaryWordGenerator" >
		<description>文字产生器，提供了好几种实现，经过比较选用了这种</description>
		<constructor-arg><ref bean="filedict"/></constructor-arg>
		<!-- <constructor-arg index="0"><value>0123456789</value></constructor-arg> -->
	</bean>
	
	<bean id="filedict" class="com.octo.captcha.component.word.FileDictionary" >
		<constructor-arg index="0"><value>toddlist</value></constructor-arg>
	</bean>
	
	<bean id="wordtoimage" class="com.octo.captcha.component.image.wordtoimage.ComposedWordToImage" >
		<description>description>图片生成器</description>
		<constructor-arg index="0"><ref bean="fontGenRandom"/></constructor-arg>
		<constructor-arg index="1"><ref bean="backGenUni"/></constructor-arg>
		<constructor-arg index="2"><ref bean="simpleWhitePaster"/></constructor-arg>
	</bean>
	
	<bean id="fontGenRandom" class="com.octo.captcha.component.image.fontgenerator.RandomFontGenerator" >
		<description>文字转换图片</description>
		<constructor-arg index="0"><value>20</value></constructor-arg><!--字体最小尺寸-->
		<constructor-arg index="1"><value>21</value></constructor-arg><!--字体最大尺寸-->
		<constructor-arg index="2">
		<list>
			<ref bean="fontArial"/>
		</list>
		</constructor-arg>
	</bean>
	
	<bean id="fontArial" class="java.awt.Font" ><!--  -->
		<constructor-arg index="0"><value>Arial</value></constructor-arg>
		<constructor-arg index="1"><value>20</value></constructor-arg>
		<constructor-arg index="2"><value>21</value></constructor-arg>
	</bean>
	<!--
	<bean id="backGenUni" class="com.octo.captcha.component.image.backgroundgenerator.UniColorBackgroundGenerator" > 
		 单一色 
		<constructor-arg index="0"><value>75</value></constructor-arg>背景图片宽度
		<constructor-arg index="1"><value>30</value></constructor-arg>背景图片高度
		<constructor-arg type="java.awt.Color" index="2">
			<ref bean="colorFont"/>
		</constructor-arg>
	</bean>
	-->

	<!-- 渐变色 -->
	 <!-- <bean id="backGenUni" class="com.octo.captcha.component.image.backgroundgenerator.GradientBackgroundGenerator" > -->
	
	<bean id="backGenUni" class="com.octo.captcha.component.image.backgroundgenerator.FunkyBackgroundGenerator" >
		<constructor-arg index="0"><value>80</value></constructor-arg>
		<constructor-arg index="1"><value>30</value></constructor-arg>
		<constructor-arg type="com.octo.captcha.component.image.color.ColorGenerator" index="2">
			<ref bean="colorGenRandomList"/></constructor-arg>
		<constructor-arg type="com.octo.captcha.component.image.color.ColorGenerator" index="3">
			<ref bean="colorGenRandomList"/></constructor-arg>
		<constructor-arg type="com.octo.captcha.component.image.color.ColorGenerator" index="4">
			<ref bean="colorGenRandomList"/></constructor-arg>
		<constructor-arg type="com.octo.captcha.component.image.color.ColorGenerator" index="5">
			<ref bean="colorGenRandomList"/></constructor-arg>
		<constructor-arg index="6"><value>0.5f</value></constructor-arg>
	</bean>

	<bean id="colorGenRandomList" class="com.octo.captcha.component.image.color.RandomListColorGenerator" >
		<constructor-arg index="0">
			<list>
				<!-- <ref bean="blue"/>
				<ref bean="lightBlue"/>
				<ref bean="yellow"/> -->
				<ref bean="white"/>
				<ref bean="white1"/>
			</list>
		</constructor-arg>
	</bean>
	
	
	<bean id="simpleWhitePaster" class="com.octo.captcha.component.image.textpaster.SimpleTextPaster" >
		<constructor-arg type="java.lang.Integer" index="0">
			<value>5</value><!--字符最少个数-->
		</constructor-arg>
		<constructor-arg type="java.lang.Integer" index="1">
			<value>5</value><!--字符最多个数-->
		</constructor-arg>
		<constructor-arg type="java.awt.Color" index="2">
			<ref bean="fontColor1"/>
		</constructor-arg>
	</bean>
	
	<bean id="colorGrey" class="java.awt.Color" >
		<constructor-arg index="0" type="int"><value>200</value></constructor-arg>
		<constructor-arg index="1" type="int"><value>255</value></constructor-arg>
		<constructor-arg index="2" type="int"><value>200</value></constructor-arg>
	</bean>
	<bean id="colorGreen" class="java.awt.Color" >
		<constructor-arg index="0" type="int"><value>0</value></constructor-arg>
		<constructor-arg index="1" type="int"><value>255</value></constructor-arg>
		<constructor-arg index="2" type="int"><value>0</value></constructor-arg>
	</bean>
	<bean id="colorFont" class="java.awt.Color" >
		<constructor-arg index="0" type="int"><value>60</value></constructor-arg>
		<constructor-arg index="1" type="int"><value>60</value></constructor-arg>
		<constructor-arg index="2" type="int"><value>60</value></constructor-arg>
	</bean>
	<bean id="blue" class="java.awt.Color" >
		<constructor-arg type="int" index="0"><value>0</value></constructor-arg>
		<constructor-arg type="int" index="1"><value>0</value></constructor-arg>
		<constructor-arg type="int" index="2"><value>255</value></constructor-arg>
	</bean>
	<bean id="lightBlue" class="java.awt.Color" >
		<constructor-arg type="int" index="0"><value>200</value></constructor-arg>
		<constructor-arg type="int" index="1"><value>200</value></constructor-arg>
		<constructor-arg type="int" index="2"><value>255</value></constructor-arg>
	</bean>
	<bean id="yellow" class="java.awt.Color" >
		<constructor-arg type="int" index="0"><value>255</value></constructor-arg>
		<constructor-arg type="int" index="1"><value>255</value></constructor-arg>
		<constructor-arg type="int" index="2"><value>0</value></constructor-arg>
	</bean>
	<bean id="white" class="java.awt.Color" >
		<constructor-arg type="int" index="0"><value>255</value></constructor-arg>
		<constructor-arg type="int" index="1"><value>255</value></constructor-arg>
		<constructor-arg type="int" index="2"><value>255</value></constructor-arg>
	</bean>
	<bean id="white1" class="java.awt.Color" >
		<constructor-arg type="int" index="0"><value>230</value></constructor-arg>
		<constructor-arg type="int" index="1"><value>230</value></constructor-arg>
		<constructor-arg type="int" index="2"><value>230</value></constructor-arg>
	</bean>
	<bean id="fontColor1" class="java.awt.Color" >
		<constructor-arg type="int" index="0"><value>86</value></constructor-arg>
		<constructor-arg type="int" index="1"><value>162</value></constructor-arg>
		<constructor-arg type="int" index="2"><value>74</value></constructor-arg>
	</bean>
	<!--
	<bean id="captchaEngine" class="com.octo.captcha.engine.image.gimpy.SimpleListImageCaptchaEngine"/>

	<bean id="captchaService" name="/captcha.htm"
		class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService">
		<property name="captchaEngine" ref="captchaEngine"/>
	</bean>
	   <bean name="/captcha" class="com.octo.captcha.service.image.DefaultManageableImageCaptchaService" id="imageCaptchaService"/>
	-->
 <!-- 另外一个开源插件https://code.google.com/p/jcaptcha4struts2/downloads/list -->
</beans>
