.edui-editor-iframeholder{
    display: none;
}
.edui-default .edui-editor-toolbarboxouter{
    border: none! important;
}
#resultProgressRoot{
    right: -80px;
    bottom: 100px;
    width: 200px;
    z-index: 200;
    position: fixed;
    transform: rotate(90deg);
}
.progress-label {
    font-size:14px;
    font-family: "微软雅黑";
    margin: 0px auto;
    text-align: center;
    line-height: 1.4em;
    color: #0887d2;
}
.progressbarDiv {
    height: 10px! important;
    box-shadow: none! important;
    border: 1px solid #0887d2;
}
.progressbarDiv .ui-progressbar-value{
    background: #0887d2! important;
    border: none;
}
.ui-progressbar .ui-progressbar-value{
    margin: 0px;
}
.ui-progressbar {
    position: relative;
    background: none! important;
}
.quOptionEditTd .editAble,.scoreNumTable tr td,.quCoItemTable{
    font-size: 16px;
}
label.error{
    font-size: 14px;
}
select {
    border: 1px solid #cecad2;
    outline: none;
    height: 40px;
}
