input[type='radio']{
    background-color: #fff;
    -webkit-appearance:none;
    border: none;
    outline: none;
    background: transparent url(../images/answer-icon-1.png) no-repeat center top;
    vertical-align: middle;
    height: 22px;
    width: 22px;
    background-position: -2px -7px;

    vertical-align: middle;
    display: inline-block;
    table-layout: fixed;
    word-break: break-all;
}
input[type=radio]:checked{
    background-position: -2px -32px;
}
input[type='checkbox']{
    background-color: #fff;
    -webkit-appearance:none;
    border: none;
    outline: none;
    background: transparent url(../images/answer-icon-1.png) no-repeat center top;
    vertical-align: middle;
    height: 22px;
    width: 22px;
    background-position: -2px -62px;

    vertical-align: middle;
    display: inline-block;
    table-layout: fixed;
    word-break: break-all;
}
input[type=checkbox]:checked{
    background-position: -2px -89px;
}
body{
    margin: 0px;
    padding: 0px;
}
.dwsurvey-page{
    /*background: white;*/
}
.dwsurvey-header{
    /*background-color: #5aa9ef;*/
}
.dwSvyName{
    text-align: center;
}
#dwSurveyName{
    text-align: center;
    outline-style: none;
    font-family:"微软雅黑";
    font-size: 18px;
    letter-spacing:1px;
    cursor:text;
    overflow: auto;
    padding: 5px 3px;
    overflow: auto;
}
#dwSurveyNote{
    margin: 0px 0px;
    padding-top:2px;
    padding-bottom: 2px;
}
#dwSurveyNoteEdit{
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    outline-style: none;
    text-indent: 2em;
    line-height: 1.2em;
    font-family: "微软雅黑";
    padding: 4px;
    cursor: text;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    color: rgb(51, 51, 51);
}
#dwSurveyQuContentAppUl{
    list-style: none;
    /*padding: 0px 20px;*/
    padding: 0px;
}
.surveyQuItem .surveyQuItemContent {
    padding: 0px;
    border: none;
    min-height: 50px;
    width: 100%;
    margin-bottom: 15px;
}
.surveyQuItemContent .dwQuOptionItemContent{
    margin: .5em 0;
    position: relative;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    padding: 6px 10px;
    border-radius: .3125em;
    font-size: 14px;
    background-color: white;
}
.surveyQuItemContent .dwQuOptionItemContent:active{
    border-color: dodgerblue;
}
.surveyQuItemContent .dwQuOptionItemContent input{
    /*float: left;*/
}
.surveyQuItemContent .dwQuOptionItemContent label{
    margin: 0;
    text-align: left;
    white-space: normal;
    z-index: 2;
}
.surveyQuItemContent .inputSytle_1{
    display: block;
    width: 100%;
    outline: 0;
    margin: 0;
    text-align: left;
    padding: 6px 0px;
    margin-top: 10px;
    border: 1px solid #ddd;
    text-indent: 6px;
}
.dwsurvey-controlgroup{
    margin: 0px;
}
.dwsurvey-controlgroup .starOptionTitle{
}
.dwsurvey-controlgroup .starOptionContent{
}
.starRating{
}
.starRating .fa{
    cursor: pointer;
    padding: 3px;
}
.starRating .fa-star{
    color: #3388CC;
    color: rgb(79, 139, 255);
}
.surveyQuItemContent .mFillblankTableTr{
    margin: 10px 0px;
}
.surveyQuItemContent .mFillblankTableTr label{
    display: block;
    margin: 0 0 .4em;
}
.surveyQuItemContent .mFillblankTableTr .dwMFillblankInput,.dwQuChenFbkOptionItemContent .dwChenMFillblankInput{
    display: block;
    width: 100%;
    outline: 0;
    margin: 0;
    text-align: left;
    padding: 6px 0px;
    border: 1px solid #ddd;
    text-indent: 6px;
    font-size: 14px;
}
.chenrowcolumn-div{

}
.chenrow_title{
    margin: 6px 0px ;
    font-size: 16px;
}
.dwQuChenFbkOptionItemContent{
    margin: 4px 0px;
}
.dwsurvey-radio-btn label{
    padding: 2px 6px;
    margin: 0;
    white-space: normal;
    z-index: 2;
    background-color: #f6f6f6;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    font-size: 12px;
    border: 1px solid #ddd;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    background-image: none;
}
.dwsurvey-radio-btn label.checked{
    background-color: #38c;
    border-color: #38c;
    color: #fff;
    text-shadow: 0 1px 0 #059;
    background-image: none;
}
.ui-controlgroup-controls{
    border-bottom:1px solid #ddd;
    margin-top: 8px;
}
.ui-controlgroup-controls .m_clickQuOrderItem{
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
    font-size: 14px;
    border-radius: 0px;
    border-bottom: none;
    background-color: white;
}
.ui-controlgroup-controls .m_clickQuOrderItem:first-child{

}
.ui-controlgroup-controls .m_clickQuOrderItem label{
    border: none;
}
.nextPage_a,.submitSurvey {
    text-shadow: none;
    color: white!important;
    font-size: 12px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    text-align: center;
    text-decoration: none;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    background-color: #00a0df;
    background-color: dodgerblue;
    width: 100%;
    line-height: 25px;
    border-radius: 3px;
    padding: 8px 0px;
    margin-left: 0px;
    font-size: 16px;

}
.nextPage_a:active,.submitSurvey:active{
    background-color: #008dc9;
}

.scoreRow{
    margin-top: 10px;
}

.quTitleNum{
    /* position: absolute; */
}
.quTitleText{
    /* text-indent: 2em; */
}
#dwSurveyNote{
    padding-top: 0px;
}
.m_quOrderByUi{
    margin: 5px 0 5px 0;
    padding: 0;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
}
.m_quOrderByUi li{
    border-color: #fff;
    font-size: 16px;
    min-height: 41px;
    position: relative;
    padding-right: 45px!important;
    border-bottom: 1px solid #EBEBEB!important;
}
.m_orderby_num{
    position: absolute;
    right: 10px;
    top: 55%;
    margin-top: -15px;
    min-width: 26px;
    height: 26px;
    background: #85C8FF;
    color: #fff;
    text-align: center;
    line-height: 26px;
    border-radius: 15px;
    z-index: 100;
    display: none;
}
.m_orderby_sel{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    font-size: 30px;
    z-index: 9999;

    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(166, 166, 166);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;

    display: inline-block;
}

#resultProgressRoot{
    top: 0px;
    z-index: 200;
    position: fixed;
    width: 100%;
    background-color: #cecad2;
}
.progress-label {
    font-size:14px;
    font-family: "微软雅黑";
    margin: 0px auto;
    text-align: center;
    line-height: 1.4em;
    color: dodgerblue;
    display: none;
}
.progressbarDiv {
    height: 10px! important;
    box-shadow: none! important;
    /*border: 1px solid #83AE00;*/
    border-radius: 0px! important;
}
.progressbarDiv .ui-progressbar-value{
    background: dodgerblue! important;
    border: none;
}
.progressbarDiv .ui-widget-header{
    background: dodgerblue! important;
}
.ui-progressbar .ui-progressbar-value{
    margin: 0px;
}
.ui-progressbar {
    position: relative;
    background: none! important;
}
p{
    /*display: inline;*/
}
.chenTable{
    border: none;
    border-spacing: 1px;
}
.chenTable tr td{

}
.chenTableHead{
    background: #dddddd;
}
.chenTableHead td{
    padding: 13px 6px;
    padding-left:10px;
    font-size: 12px;
}
.chenTableRowTitle td{
    padding: 6px;
    font-size: 16px;
    color: #333333;
    padding-top: 16px;
}
.chenTableRowColumn, .chenTableRowColumn td{
    padding:0px;
    margin: 0px;
    height: 30px;
}
.chenTableRowColumn td{
}
table.chenTable{width:100%;
}
table.chenTable td{word-break: keep-all;white-space:nowrap;}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
    text-shadow: none;
}
.quCoItem{
    /*padding-top:10px;*/
}
.chenRowItem {
   /* background: #dddddd;
    padding: 13px 10px;
    font-size: 12px;*/
}
.hideRadioItem input[type='radio'],.hideRadioItem input[type='radio']:checked{
    display: none;
}
.surveyQuItemContent .dwQuOptionItemContent.groupQuOption .quGroupTitle{
    font-size: 16px;
    font-weight: bold;
    cursor: default;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #8a8a8a;
}
.nextPage_a,.submitSurvey {
    width: 100%;
    line-height: 25px;
    border-radius: 3px;
    padding: 8px 0px;
    margin-left: 0px;
    font-size: 16px;

}
html head+body .ui-btn.ui-btn-b,html head+body .ui-btn.ui-btn-b:hover{
    background-color: #00a0df;
    border-color: #00a0df;
    text-shadow: 0 1px 0 #00a0df;
    line-height: 25px;
    border-radius: 3px;
    padding: 8px 0px;
}
img { height: auto; width: auto\9; width:100%; }
.hideRadioItem .ui-btn{
    padding: .2em 0.5em;
}
.ui-input-text, .ui-input-search{
    box-shadow: none!important;
    border-radius: 0px!important;
    font-size: 13px;
}
body{
    background: rgb(232, 233, 235);
}
#dwsurvey-body{
    padding: 10px;
    /*background: white;*/
}
#dwsurvey-body-content{
    background: white;
    padding: 10px;
}
.dwQuOptionItemContent input[type='radio'],.dwQuOptionItemContent input[type='checkbox']{
    display: none;
}
/**  单选样式***/
.dwQuOptionItemContent .dwRedioStyle {
    background: transparent url(../images/answer-icon-1.png) no-repeat center top;
    vertical-align: middle;
    height: 22px;
    width: 22px;
    background-position: -2px -6px;
    display:inline-block;;
}
.dwQuOptionItemContent .dwRedioStyle.checked{
    background-position: -2px -31px;
}
/**多选样式**/
.dwQuOptionItemContent .dwCheckboxStyle {
    background: transparent url(../images/answer-icon-1.png) no-repeat center top;
    vertical-align: middle;
    height: 22px;
    width: 22px;
    background-position: -2px -60px;
    display:inline-block;
}
.dwQuOptionItemContent .dwCheckboxStyle.checked{
    background-position: -2px -87px;
}
#register-jcaptchaImg{
    width: 80px!important;
}
#dwSurveyQuContentAppUl>li .surveyQuItemContent legend {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}

.jcaptchaInput,.surveyQuItemContent .inputSytle_1, .surveyQuItemContent .inputSytle_2,.surveyQuItemContent .dwChenMFillblankInput,.surveyQuItemContent  .dwMFillblankInput{
    display: block;
    width: 100%;
    outline: 0;
    text-align: left;
    padding: 6px 0;
    border: 1px solid #ddd;
    text-indent: 6px;
    background: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
}

.chenRowItem{
    font-size: 16px;
}
.starOptionTitle{
    font-size: 14px;
}
.starOptionContent{

}
.starOptionContent{
    color: #666;
}
.starOptionContent .fa {
    font-size: 22px;
    padding: 3px;
}
.quCoItemScore{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 10px;
}
.dw-footer{
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    padding: 20px 0 10px;
    color: #333;
    background: none;
}
.dw-footer a {
    color: #333;
}

.dwQuOptionItemContent.active {
    border-color: #1e94fc;
    background-color: rgb(227, 237, 249);
}
.dwQuChenFbkOptionItemContent{
    margin-top: 6px;
}
.dwsurvey-controlgroup,.dwQuCoChenRowTr{
    margin-top: 10px;
}
.ui-controlgroup-controls .m_clickQuOrderItem label{
    font-weight: normal;
}
select {
    border: 1px solid #cecad2;
    outline: none;
    height: 40px;
    width: 100%;
}
