@CHARSET "UTF-8";
.ellipsis{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-icab-text-overflow:ellipsis;
	-khtml-text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
}
.clickable{cursor:pointer;}
::-webkit-scrollbar{
	height:8px;
	width:8px;
	background:rgba(222, 222, 222, 0.5);
	background:#67ACC2;
	border-radius:5px;
}
::-webkit-scrollbar-button{display:none;}
::-webkit-scrollbar-track{
	background-color:#ffffff;
}
::-webkit-scrollbar-track-piece{
	background:#ffffff;
}
::-webkit-scrollbar-thumb{
	width:8px;
	min-height:15px;
	background:rgba(0, 0, 0, 0.3);
	background:#67ACC2;;
	border-radius:5px;
}
::-webkit-scrollbar-thumb:hover{
	background:rgba(0, 0, 0, 0.6);
	background: #0081CC;
}
::-webkit-scrollbar-thumb:active{
	background:rgba(0, 0, 0, 0.8);
	background: #67ACC2;
}
.btn04,a.btn04,.btn004,a.btn004{
	padding: 4px 9px;
}

.btn04.focus{
	color: #6CC395;
}
.btn04,a.btn04{
	background-color: #F6F6F6;
	background-image: linear-gradient(top, #EFEFEF 0%, #F7F7F7 100%);
	background-image: -o-linear-gradient(top, #EFEFEF 0%, #F7F7F7 100%);
	background-image: -moz-linear-gradient(top, #EFEFEF 0%, #F7F7F7 100%);
	background-image: -webkit-linear-gradient(top, #EFEFEF 0%, #F7F7F7 100%);
	background-image: -ms-linear-gradient(top, #EFEFEF 0%, #F7F7F7 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #EFEFEF),
		color-stop(1, #F7F7F7)
	);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #E6E6E6;
	/* font: bold 12px Arial, Helvetica, sans-serif; */
	font-size:12px;
	text-align: center;
	/*text-shadow: 0 -1px 0 rgba(0,0,0,0.25);*/
	cursor: pointer;
	color: #5E5E5E;
}
.btn04:HOVER{
	color: white;
}
.btn04.nofocus{
	border: 1px solid #F6F6F6;
}
a.btn004,.btn004,a.btn005,.btn005{
	outline-style: none;
	background-color: #D0D7E0;
	background-image: linear-gradient(top, #D0D7E0 0%, #F8F7F7 100%);
	background-image: -o-linear-gradient(top, #D0D7E0 0%, #F8F7F7 100%);
	background-image: -moz-linear-gradient(top, #D0D7E0 0%, #F8F7F7 100%);
	background-image: -webkit-linear-gradient(top, #D0D7E0 0%, #F8F7F7 100%);
	background-image: -ms-linear-gradient(top, #D0D7E0 0%, #F8F7F7 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #D0D7E0),
		color-stop(1, #F8F7F7)
	);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #D0D7E0;
	color: #FFF;
	text-align: center;
	/*text-shadow: 0 -1px 0 rgba(0,0,0,0.25);*/
	cursor: pointer;
	color: #5E5E5E;
}
a.btn004:hover,.btn004:HOVER,a.btn005:hover,.btn005:hover,.btn005.hover{
	background-color: #F0F0F0;
	background-image: linear-gradient(bottom, #F0F0F0 0%, #FFFFFF 100%);
	background-image: -o-linear-gradient(bottom, #F0F0F0 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #F0F0F0 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #F0F0F0 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #F0F0F0 0%, #FFFFFF 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #F0F0F0),
		color-stop(1, #FFFFFF)
	);
}

.btn001,.btn002,.btn003 {
	background-color: #4697BE;
	background-image: linear-gradient(bottom, #4697BE 0%, #1797D4 100%);
	background-image: -o-linear-gradient(bottom, #4697BE 0%, #1797D4 100%);
	background-image: -moz-linear-gradient(bottom, #4697BE 0%, #1797D4 100%);
	background-image: -webkit-linear-gradient(bottom, #4697BE 0%, #1797D4 100%);
	background-image: -ms-linear-gradient(bottom, #4697BE 0%, #1797D4 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #4697BE),
		color-stop(1, #1797D4)
	);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #4697BE;
	color: #FFF! important;
	text-align: center;
	cursor: pointer;
	outline-style: none;
	text-shadow: 1px 1px 1px #AEA6B9;
}
.btn001:hover ,.btn002:hover,.btn003:hover,.btn04:hover{
	background-color: #31B4E5;
	background-image: linear-gradient(bottom, #4B97BD 0%, #61BCD7 100%);
	background-image: -o-linear-gradient(bottom, #4B97BD 0%, #61BCD7 100%);
	background-image: -moz-linear-gradient(bottom, #4B97BD 0%, #61BCD7 100%);
	background-image: -webkit-linear-gradient(bottom, #4B97BD 0%, #61BCD7 100%);
	background-image: -ms-linear-gradient(bottom, #4B97BD 0%, #61BCD7 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #4B97BD),
		color-stop(1, #61BCD7)
	);
	background-position: center bottom;
	/* text-decoration: none! important; */
	text-decoration: underline;
	border: 1px solid #4697BE;
	/* -webkit-box-shadow: 0 0 8px #79B5BD;
	box-shadow: 0 0 8px #79B5BD; */
	/* background: #0081CC; */
}
.btn001.disabled,.btn002.disabled,.btn003.disabled {
	background-color: #D0D0D0;
	color: #808080;
}


.btn002,.btn003,.btn005{
	padding:5px;
	text-decoration: none;
}
.btn001,.btn005{
	padding: 5px 10px;
	/* margin: 0px 3px; */
	text-decoration: none! important;
}
.btn002 {
	padding: 3px 5px;
	text-decoration: none;
	font-weight: normal! important;
}
.btn003 {
	padding: 5px 8px;
	font-size: 12px! important;
}
.btnGreen {
	display: inline-block;
	text-align: center;
	overflow: visible;
	padding: 8px 20px;
	cursor: pointer;
	display: inline-block;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #fff;
	border: 1px solid #3d810c;
	background-color: #5aaa4b;
	background-image: -moz-linear-gradient(top,#60b452 0,#56a447 100%);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#60b452),to(#56a447));
	background-image: -webkit-linear-gradient(top,#60b452 0,#56a447 100%);
	background-image: -o-linear-gradient(top,#60b452 0,#56a447 100%);
	background-image: linear-gradient(to bottom,#60b452 0,#56a447 100%);
}
.btnGreen:hover {
	background-color: #53a046;
	background-image: -moz-linear-gradient(top,#5aab4d 0,#4f9841 100%);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#5aab4d),to(#4f9841));
	background-image: -webkit-linear-gradient(top,#5aab4d 0,#4f9841 100%);
	background-image: -o-linear-gradient(top,#5aab4d 0,#4f9841 100%);
	background-image: linear-gradient(to bottom,#5aab4d 0,#4f9841 100%);
	color: #fff;
	color: #fff;
	box-shadow: 0 1px 1px #aaa;
	-moz-box-shadow: 0 1px 1px #aaa;
	-webkit-box-shadow: 0 1px 1px #aaa;
}
.wrapper {
	/* width: 940px; */
	width:1000px;
	padding: 0 10px;
	margin: 0 auto;
	/* background: url(../images/body.png) top center no-repeat; */
}
#m-content{
	padding-bottom: 10px;
	width: 100%;
	margin-top: 8px;
}
.m-content-left{
	float:left;
	width: 160px;
	height: 300px;
	webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #FEFEFE;
}
.content-title{
	background-color: #E6E6E6;
	background-image: linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: -o-linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: -moz-linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: -webkit-linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: -ms-linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #E6E6E6),
		color-stop(1, #FEFEFE)
	);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top: 1px solid #FEFEFE; 
	font-size: 14px;
	text-align: center;
	/* text-shadow: 0 -1px 0 rgba(0,0,0,0.25); */
	text-decoration: none;
	padding: 8px 0px;
	width: 100%;
	font-weight: bold;
	color: #666666;
	letter-spacing: 2px;
}
.m-content-left ul{
	list-style: none;
	margin: 15px auto;
	padding:0px;
	width: 120px;
}
.m-content-left ul li{
	border-bottom: 1px dashed gray;
	padding-bottom:2px;
	padding-top:5px;
	padding-left: 2px;
}
.m-content-left ul li a{
	text-decoration: none;
	font-size:14px;
	letter-spacing: 2px;
	color: #67ACC2;
}
.m-content-left ul li a:HOVER {
	color: red;
}

.m-content-right{
	float:right;
/* 	margin-top:2px;
	border-top: 3px solid #999999; */
	/* width: 750px; */
	width:100%;
	min-height: 415px;
}
.content-right-title{
	border-bottom: 3px solid #67ACC2;
	padding: 5px 8px;
}
.content-right-title a{
	color: #888888;
	text-decoration: none;
}
.content-right-title a:HOVER ,.catalog_path li a:HOVER {
	text-decoration: underline;
}
.m-content-right-body{
	/* padding: 5px; */
}
.content-list{
	/* background-color: white; */
	background-color: #F8F8F8;
	border: 1px solid #CACACA;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	padding-bottom: 15px;
}
#content-tableList {
	border-top: 2px solid #C4C3C3;
}
#content-tableList tr th{
	height: 38px;
	border-bottom: 1px solid #C4C3C3;
	padding: 0px 5px; 
	color: #666666;
}
#content-tableList tr td{
	border-bottom: 1px solid #C4C3C3;
	height:35px;
	line-height: 25px;
	padding: 0px 5px; 
}

.curtd{
	background-color:#FBFBFB;
}
.hoverShow{
	display: none;
}
.qu_catalog_span,.qu_bank_span{
	background: url('../images/qu/sprite_list_icon.gif') 9999px 9999px no-repeat;
	cursor: pointer;
	width: 26px;
	height: 23px;
	padding: 0px;
	display: inline-block;
	zoom: 1;
	vertical-align: middle;
	margin-right: 5px;
}
.qu_catalog_span{
	background-position: 0px 0px;
}
.qu_bank_span{
	background-position: -38px -23px;
}
#content-tableList tr td a{
	vertical-align: middle;
}

.rightbody-tools{
	padding: 10px 15px;
}
.rightbody-tools a:HOVER{
	text-decoration: none;
}
/***new Iframe */

.dailogFrame{
	font-size: 12px;
	color: #475251;
}

.fromTable tr td{
	height: 30px;
}
input[type='checkbox'],input[type='radio']{
	_vertical-align:-1px;
	vertical-align:-2px;
	margin-right: 5px;
}
input[type='text'],input[type='password']{
	outline-style: none;
	padding: 5px;
	/* 
	border:1px solid gray;
	background-color:#E8F2FE;
	border-bottom: 2px solid gray; 
	*/
	
/* 	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius:  3px; */
}

.dailogFrameTitle{
	font-size: 14px;
	color: #3E8B9B;
	font-weight: bold;
}

.catalog_path{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.catalog_path li{
	float: left;
	font-size: 12px;
	margin: 5px 0px 5px 5px;
	padding:0px;
	height: 20px;
	line-height: 20px;
}
.catalog_path li a{
	text-decoration: none;
	color: #5F5880;
}

.catalogsplit_span{
	font: 12px/1.5 tahoma,arial,宋体b8b\4f53;
	color: #9EBDD9;
	white-space: nowrap;
	margin: 0px;
	padding-right: 5px;
}

.qu_option_ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.qu_option_ul li{
	padding: 2px;
	margin: 3px 0px;
}

.quTitle_ul{
	padding: 0px;
	margin: 0px;
	padding-left:18px;
	list-style: none;
}
.quTitle_ul li{
	padding: 0px;
	margin: 0px;
}
.quTitle_span{
	color:#00ADD6;
	font-size: 14px;
}

.up{
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../images/qu/up.gif) no-repeat center;
	cursor: pointer;
	padding: 0px;
	vertical-align: middle;
}
.down {
	width: 15px;
	height: 15px;
	display: inline-block;
	background: url(../images/qu/down.gif) no-repeat center;
	cursor: pointer;
	padding: 0px;
	vertical-align: middle;
}
.up:HOVER,.down:HOVER{
	background-color: #A1A3A4;
}
.red-color{
	color: red! important;
}

select{
	height: 25px;
}
.tr-border-bottom td{
	border-bottom:1px solid #D9D7D7;
}

.notification {
		position: absolute;
		display: inline-block;
		font-size: 2em;
		padding: .5em;
		box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5);
		background:#F2F1F1;
		color: #FF7800;
}
.color-A2272B{
		color: #A2272B! important;
}

.dialog-search{
	padding: 8px 10px 5px 10px;
}
.dialog-search span{
	font-size: 14px;
}

.dialog-list-root{
	margin:10px;
	padding:5px;
	-webkit-box-shadow: 0 0 15px #aaa;
	box-shadow: 0 0 15px #aaa;
	
	background-position: center top;
	background-repeat: no-repeat;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.dialog-list-root .content-list{
	border: none;
	padding-bottom: 0px;
}
.qulibTools{
	padding: 10px 10px 5px 10px;
}
.noneBorder td{
	border: none! important;
}
.tableStyle1{
	/* border: 1px solid #C4C3C3; */
}
.tableStyle2 tr td{
		height: 30px! important;
}
.trtdStyle1 td{
	background-color: #F68181;
	height: 20px! important;
	color: white;
}
.trtdStyle2 td{
	height: 20px! important;
}
.trtdStyle2:HOVER td{
	background-color: #DDCDAC;
}
.tdStyle1{
	
}
.clickBackColok{
	background: #E4E4E4;
}
.clickBackColok td{
	border-top: 1px solid #C4C3C3! important;
}
.statsQuEnOption{
	margin: 0px;
	padding: 0px! important;
	/* border-bottom: 1px solid #C4C3C3; */
	border-bottom: none! important;
	line-height: 18px! important;
	padding-left: 15px! important;
}
.statsQuEnOption p{
	margin: 0px;
	padding: 0px;
}
.statsQuEnOption strong{
	margin: 0px;
	padding: 0px;
}
.progressbarDiv{
	height: 15px! important;
	box-shadow:none! important;
	border: 1px solid #1B86E2;/*FB6400*/ 
}
.progressbarDiv .ui-widget-header{
	background: #65CBE9! important;
	border-bottom:1px solid #65CBE9;
}
.trBorderStyle1 > td{
	/* border-bottom: 2px solid #F68181! important; */
}
.tableStyle3{
	border: 1px solid white;
}
.tableStyle3 tr td{
	padding:0px 3px;
	height: 20px;
	border-right: 1px solid white;
	text-align: center;
}
.dataCrossTd{
	border-left: 1px solid white;
	background-color: #E9E6E6;
}

/**ADMIN**/

.m-content-body{
	/* border: 1px solid #D3D3D3;
	height: 600px;
	
	-webkit-border-radius:5px ;
	-moz-border-radius:5px 5px ;
	border-radius:5px 5px;
	margin-top: 10px; 
	padding: 0px 10px;
	*/
}
.m-content-left-admin{
	float:left;
	width: 155px;
	height: 500px;
	/* border-right: 1px solid #D3D3D3; */
	display: block;
	margin-top: 20px;
	padding-right: 10px;
}
.m-content-left-admin ul{
	list-style: none;
	margin: 0px;
	padding:0px;
	width: 100%;
}
.m-content-left-admin ul li{
	padding-top:0px;
	padding-left: 0px;
	width: 100%;
	margin: 0px;
	margin-bottom: 1px;
}
.m-content-left-admin ul li a{
	display:block;
	text-decoration: none;
	font-size:14px;
	letter-spacing: 2px;
	width:100%;
	padding: 3px 0px;
	text-indent: 20px;
	color: #3D8E7D;
}
.m-content-left-admin ul li a.currentAGroup{
	background: #6EB362;
	background:#61BCD7;
	color: #FFFFFF;
}
.m-content-left-admin ul li a:HOVER {
	color: #FFFFFF;
	background: #83B767;
	background: #65CAE7;
}
.content-right-title-admin{
	/* border:1px solid #D3D3D3; */
	border-bottom:none;
	border-bottom: 3px solid #999999;
	padding: 8px 8px;
/* 	background: #D4D4D4; */
	/* background:#F0F0F0; */
	/* margin-top: 20px; */
	
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius:5px 5px  0px 0px ;
	border-radius:  5px 5px 0px 0px;
}
.content-right-title-admin a{
	color: #888888;
	text-decoration: none;
}
.content-right-title-admin a:HOVER {
	text-decoration: underline;
}
.contentlistPage{
	padding-top:15px;
	padding-right:30px;
	padding-bottom:15px;
	text-align: right;
}
.admin-ul01{
	margin: 0px;
	padding: 0;
	list-style: none;
	width: 465px;
}
.admin-ul01 li{
	float: left;
	padding: 5px;
}
/**ADMIN END**/
.trModel a:HOVER{
	text-decoration: none;
}
.m-content-menu{
	background: #FBFAFA;
}
.m-content-menu ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.m-content-menu ul li{
	padding: 0px;
	margin:0px;
	margin-right: 1px;
	float: left;
}
.m-content-menu ul li a{
	padding: 5px 10px;
	color: #333333;
	display: block;
}
.m-content-menu ul li a:HOVER,.m-content-menu ul li a.currentAGroup {
	background: #65C9E6;
	background: #E4393C;
	background: #FD780D;
	background: #61BCD7;
	background: #DDD8D4;
	color: #61BCD7;
}
.qtTableForm{
	border: 1px solid #CACACA;
	-webkit-border-radius: 5px ;
	-moz-border-radius:5px;
	border-radius:  5px ;
	padding: 15px 20px;
	background: #F8F8F8;
}



#loginContent{
	margin: 0px auto;
	background: #ffffff;
	margin-top: 15px;
	margin-bottom:10px;
	-webkit-border-radius: 1px ;
	-moz-border-radius:1px;
	border-radius:  1px ;
	border: 1px solid #e1e1e1;
	border-bottom: 1px solid  #CCCCCC;
	min-height: 430px;
	margin-top: 40px;
}
.welcomeSpan{
	font-size: 22px;
	font-weight: bold;
	line-height: 60px;
	padding-left: 15px;
	color: #333333;
}
.loginContentBody{
	padding: 30px 0px;
	/* border-bottom: 1px solid  #CCCCCC; */
}
.loginContentLeft{
	float: left;
	padding:0px 50px;
	border-right: 1px solid #CCCCCC;
}
.loginContentRight{
	float: left;
}
.loginContentTool{
	padding: 10px;
	text-align: center;
}
.loginSucInfo{
	line-height: 35px;
}
.hoverMoreDiv{
	display: none;
	position: absolute;
	padding:0px;
	margin-left: 0px;
/* 	border-bottom: 1px solid #ccc; */
	border: 1px solid #CFCFCF;
	box-shadow: 0 2px 3px #CFCFCF;
	-webkit-border-radius: 3px ;
	-moz-border-radius:3px;
	border-radius:  3px ;
	background: #FFFFFF;
}
.hoverMoreDiv ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.hoverMoreDiv ul li{
	text-align: center;
	margin: 0px! important;
	padding: 0px! important;
	
	width: 110px! important;
	margin-left: 0px! important;
	border: none! important;
}
.hoverMoreDiv ul li a{
	border-top: 1px solid #ccc;
	font: 12px "宋体";
	padding:6px 30px;
	text-decoration: none;
	display:block;
	background: white;
}
.hoverMoreDiv ul li a:hover{
	background: #E8F2FE;
	text-decoration: none;
}

.loginContentTitle{
	padding: 12px 15px;
	background: #0081CC;
	background: #67ACC2;
	background:#4091B7;
	background: #24292C;
	color: white;
	font-size: 14px;
}
.formErrorInfo{
	color: #C40000;
}
a.hoverLineA:HOVER{
	text-decoration: underline;
}
.surGroupItem{
	/* margin-top: 5px; */
}
.surGroupItem ul{
	float: left;
	list-style: none;
	padding: 0px;
	margin: 0px;
	width: 410px;
}
.surGroupItem ul li{
	float: left;
	margin: 5px 0px;
	margin-right:35px;
	width: 170px;
}
.surGroupItem input{
	margin-top: 5px;
}

/** register**/
.frmItem{
	padding:8px 5px;
}
.frm_label{
	text-align: left;
	width: 80px;
	cursor: default;
	float: left;
	margin-top: 8px;
	font-size: 16px;
	color: #222;
}
.frm_controls{
	overflow: hidden;
	font-size: 14px;
}
.frm-controlM{
	width: 306px;
	max-width: 336px;
	border: 1px solid #b3b3b3;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	vertical-align: middle;
	color: #666;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding: 9px! important;
	outline: 0;
}
.frm_desc {
	display: block;
	color: #929292;
	font-size: 14px;
}
.auth-code {
	display: block;
	padding-top: 5px;
}
.auth-code img,  .auth-code a{
	vertical-align: middle;
}
.auth-code a{
	margin-left: 16px;
}
.frm-tip {
	margin-left: 50px;
}
.frm-tip p{
	font-size: 16px;
}
.frm-tip i {
	font-size: 15px;
	margin-right: 7px;
	color: #bebebe;
	font-weight: 400;
	font-style: normal;
}
.frm-tip a {
	margin-left: 10px;
	font-size: 16px;
}
.loginContent0{
	margin-top:25px;
	width:100%;
	height:550px;
	/* background: url("../images/11121560115183779.jpg"); */
	/* background-color: rgb(255, 255, 255); */
	background-color: #EDEBEB;
	background:none;
	background-position: 50% -200px;
	background-repeat: no-repeat no-repeat;
}
/** new login**/
.g-bd {
	position: relative;
	margin: 0px auto;
	margin-bottom: 60px;
	text-align: left;
	color: #333;
	padding-top: 30px;
}
.m-content {
	/* position: absolute;
	top: 35px;
	left:30px;
	left:60px; */
	border: 1px solid #dcdcdc;
	width: 400px;
	height: 465px;
	margin: 0px auto;
}
.m-content-other{
	position: absolute;
	width: 650px;
	width: 1000px;
	height: 470px;
	top: 30px;
	right: 0px;
	/* border: 1px solid #dcdcdc; */
	opacity: 0.85;
	filter: alpha(opacity='85');
	background: #fff;
	background: none;
}
.m-content .alp {
	opacity: 0.85;
	filter: alpha(opacity='85');
	background: #fff;
	width: 100%;
	height: 100%;
}
.m-content-other img{
	opacity: 0.5;
	filter: alpha(opacity='50');
}
.m-content .login-form {
	font-family: "Microsoft Yahei",simsun;
	/* position: absolute; */
	width: 258px;
	top: 25px;
	left: 40px;
	margin-left:  40px;
	padding-top: 15px;
}
.m-content .login-form .title {
	margin-bottom: 8px;
	margin-top: 8px;
	color: #777;
	font-size: 20px;
	font-weight: normal;
}
.m-content .login-form .txz {
	border-bottom: 1px solid #d9d9d9;
	margin-bottom: 15px;
}
.m-content .login-form .u, .m-content .login-form .p {
	position: relative;
}
.m-content .login-form .u {
	z-index: 99;
}
.m-content .login-form .input {
	padding: 0px;
	margin: 0px;
	padding-left: 20px;
	font-size: 14px;
	color: #666;
	width: 238px;
	height: 40px;
	border: 1px solid #cccccc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	outline-style: none;
}
.m-content .login-form span.tip-name {
	height: 40px;
	line-height: 40px;
	text-align: left;
	width: 100%;
	display: block;
	font-size: 14px;
	color: #a6a6a6;
	position: absolute;
	top: 0px;
	left: 0px;
	text-indent: 20px;
}
.m-content .login-form .p {
	margin: 20px 0 10px 0px;
}
.m-content .login-form .p {
	z-index: 98;
}
.m-content .sp {
	color: #ccc;
}
.m-content .btn {
	margin: 15px 0  10px 0;
	display: block;
	text-decoration: none;
	background: url(../images/login.png) 0 -99px;
	border: 0px;
	width: 100%;
	height: 34px;
}
.m-content .errorMsg{
	color: red;
	margin-bottom: 5px;
}
.m-content .btn:hover {
	background-position: 0 -138px;
	text-decoration: none;
}
.m-content .login-form .third-login a.qq {
	width: 40px;
	background: url(../images/login.png) -7px -7px;
}
.m-content .login-form .third-login a.qq:hover {
	background-position: -7px -55px;
}
.m-content .login-form .third-login a.sina {
	width: 63px;
	background: url(../images/login.png) -47px -7px;
}
.m-content .login-form .third-login a.sina:hover {
	background-position: -47px -55px;
}
.m-content .login-form .third-login a.renren {
	width: 55px;
	background: url(../images/login.png) -111px -7px;
}
.m-content .login-form .third-login a.renren:hover {
	background-position: -111px -55px;
}
.m-content .login-form .third-login a.alipay {
	width: 53px;
	background: url(../images/login.png) -223px -7px;
}
.m-content .login-form .third-login a.alipay:hover{
	background-position: -223px -55px;
}
.m-content .login-form .third-login a {
	border-right: 1px solid #E0E0E0;
	height: 28px;
	float: left;
	display: block;
	text-indent: -9999px;
	background: url(../images/login.png) 9999px 9999px;
}
.noactive{
	color: red;
	font-size: 14px;
}
.a_nounderline:hover{
	text-decoration: none;
}


.quDesignRoot{
	/* background: #EAE7E7; */
	padding: 5px 5px;
}
#quDesignDialog{
	/* position: fixed;
	top: 20px; */
}
.quDesignDialog{
	float:left;
	text-align: center;
	background: white;
	border: 1px solid #EAE7E7;
	margin-top: 5px;
	padding:0px;
	padding-bottom: 10px;
	margin-left: 5px;
	position:fixed;
	z-index: 20000;
}
.quDesignTitle{
	padding: 5px 35px;
	font-size: 14px;
	cursor: pointer;
	margin-bottom: 5px;
	background: #EAE7E7;
}
.quDesignTag{
	font-size: 16px;
	font-weight: bold;
}
.quDesignDialog ul{
	list-style: none;
	margin: 0px;
	padding:0px 5px;
}
.quDesignDialog ul li{
	cursor: pointer;
	margin-bottom: 3px;
	/* color: #67ACC2;
	background: #EAE7E7; */
}
.quDesignDialog ul li a{
	display: block;
	background: white;
	color: #555;
}

#quDesignContent{
	width: 835px;
	width: 785px;
	float: right;
	padding:5px;
	/* background: #EAE7E7; */
}
.surveyDesignTitle{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 5px;
	background: #F8F8F8; 
	border: 1px solid #EAE7E7;
}
#surveyDTitleInput{
	border: none;
}
.surveyDesignNote{
	border: 1px solid #EAE7E7;
	padding: 8px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #F8F8F8;
	padding-left: 15px;
}
.surveyDesignTag{
	padding: 8px;
	border-right: 1px solid #EAE7E7;
	margin-right: 5px;
	color: #C1C1C1;
}
.surveyQuItemBody{
	
}
.surveyQuItem{
	border: 1px solid #EAE7E7;
	margin: 5px auto;
	padding: 5px;
	width: 822px;
	width: 772px;
	background: #F8F8F8;
}
.surveyQuItem.drag{
	background: #EFEFEF;
}
.surveyQuItemLeft{
	float: left;
	width: 40px;
	/* 	
	border-right: 1px solid #EAE7E7;
	height: 150px; */
	padding: 5px;
	text-align: center;
	font-size: 14px;
}
.surveyQuItemRight{
	float: left;
	padding: 5px;
	width: 735px;
	width: 705px;
	border-left: 1px solid #EAE7E7;
	text-align: left;
	font-size: 14px;
}
.surveyQuItemRight .surveyQuItemTitle{
	font-weight: bold;
	text-align: left;
	padding: 5px;
	color:#5E5E5E; 
}
.quEditDiv{
	outline-style: none;
	padding: 8px 5px;
	/* margin-right: 5px;
	position: static! important; */
}
.quEditDiv:hover{
	background: #F8B500;
}
/* Style a bit the inline editables. */
.cke_editable.cke_editable_inline
{
	cursor: default;
}

/* Once an editable element gets focused, the "cke_focus" class is
   added to it, so we can style it differently. */
.cke_editable.cke_editable_inline.cke_focus,.quEditDiv.cke_focus{
	box-shadow: inset 0px 0px 20px 3px #ddd, inset 0 0 1px #000;
	outline: none;
	background: #eee;
	cursor: text;
}

/* Avoid pre-formatted overflows inline editable. */
.cke_editable_inline pre
{
	white-space: pre-wrap;
	word-wrap: break-word;
}

.quTypeModel{
	display: none;
}
.initLine{
	width: 100%;
	height: 5px;
	background: #1E97D1;
	/* display: none; */
	visibility: hidden;
}
.initLine.show{
	visibility: visible;
}
.surveyQuItemUl{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.surveyQuItemUl li{
	margin: 2px;
	padding-right: 15px;
	width: 700px;
}
.surveyQuItemUl li .quItemLiTag{
	float: left;
	padding: 6px 2px;
}
.surveyQuItemUl li .quItemLiLeft{
	float: left;
	width: 630px;
}
.surveyQuItemUl li .quItemLiLeft .quItemLiLeftEditDiv{
	float:left;
}
.surveyQuItemUl li .quItemLiLeft .quItemLiLeftInput{
	float: left;
	display: none;
}
.surveyQuItemUl li .quItemLiLeft .quItemLiLeftInput.showInput{
	display: inline;
}
.surveyQuItemUl li .quItemLiLeft .quItemLiLeftInput input{
	width: 60px;
}
.surveyQuItemUl li .quItemLiRight{
	float: right;
}

.surveyQuItemUl li:hover{
	background: #E8F2FE;
}
.surveyQuItemUl li .quItemLiText{
	display: inline-block;
	/* width: 200px; */
	
	letter-spacing: normal;
	word-spacing: normal;
	word-break:break-all;
}
.quItemMoveEvent{
	display: none;
}
.surveyQuItemUl li .quItemLiRight .quItemMoveEvent{
	line-height: 26px;
	display: none;
}
.surveyQuItemUl li .quItemLiRight .quItemMoveDiv{
	margin-left: -35px! important;
}
.surveyQuItemUl li .quItemLiRight .quItemMoveDiv li{
	width: 90px! important;	
}
.surveyQuItemUl li .quItemLiRight .quItemMoveDiv a{
		padding:6px 20px;
}
.quItemEventLeft ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	margin-top: 10px;
}
.quItemEventLeft ul li{
	margin: 0px;
	padding: 0px;
	margin-bottom: 5px;
}
.quItemEventRight{
	padding-left: 8px;
	padding-top: 10px;
}

.hoverDiv,.eventMove{
	visibility: hidden;
}
.hoverDiv.hover,.eventMove.hover{
	visibility: visible;
}
.surveyQuItem a{
	color: #2397CE;
}
.quEditDialogTools {
	display: block;
	padding: 5px;
	padding-right: 20px;
	padding-top: 10px;
}
.quEditDialogTools .quEditDialogToolsLeft{
	color: #929292;
	font-size: 12px;
	float: left;
	line-height: 26px;
}
.quEditDialogTools  .quEditDialogToolsRight a{
	padding: 2px 10px;
	float: right;
}
.setOptionAttr{
	padding:15px;
	padding-bottom: 5px;
}
.quTableScore{
   border-collapse: collapse;
   margin-top: 5px;
   width: 700px;
}
.optionScoreTitle{
	padding: 0px 0px;
	width: 100px;
	text-align: left;
}
.optionScore{
	padding: 5px;
	width: 50px;
	text-align: center;
	border: 1px solid #AFAFB3;
}
.optionTd{
	padding: 5px;
	text-align: center;
	border: 1px solid #AFAFB3;
}
.quEditTd{
	padding: 8px 10px;
	width:120px;
}
.quEditTd:hover{
	background: #EAE7E7;
}
.quTableScore tr:hover{
	background: #E8F2FE;
}
.content_form{
	padding: 20px 30px;
}
.upResImg{
	margin-top: 5px;
}
.qtDesignContent,.qtDesignContent p{
	line-height: 26px! important;
}
.footer_menu{
	text-align: center;
}
.footer_menu ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.footer_menu ul li{
	display: inline-block;
	margin: 0px 5px;
	padding: 0px 5px;
}
.v2CopyCode{
	font-size: 16px;
	padding: 15px;
	border: 1px solid #67ACC2;
	margin: 10px auto;
}
.shareSurText{
	width: 600px;
}
.shareSurText textarea{
	border: none;
	border: 1px solid #67ACC2;
	resize:none;
	outline: none;
	width: 100%;
	height: 80px;
}
.tablenoborder tr td,.tablenoborder tr,.tablenoborder tr th{
	border: none! important;
}

#wordsInfo{
	font-weight: bold;
	color: #5A5A5A;
}
.redColor{
	color: red! important;
}
.compSTitle{
	background: #E5E5E5;
	line-height: 26px;
	padding-left: 10px;
}
.compShowStyle .compSList{
	
}
.compShowStyle .compSList ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.compShowStyle .compSList ul li{
	display: inline-block;
	height: 100px;
	padding: 10px 10px;
	margin: 10px 0px;
}
.compShowStyle .compSList ul li input{
	margin-top: 40px;
	margin-right: 10px;
}
a.compStyleA{
	width: 15px;
	height: 100px;
	background: #8CBCD1;
	display: block;
	padding: 5px;
	padding-top:10px;
	font-weight: bold;
	color: white! important;
	cursor: pointer;
	float: right;
	vertical-align: middle;
}
a:hover.compStyleA{
	text-decoration: none;
}
a.compStyleA_1{
	background: #FEB252;
}
a.compStyleA_2{
	background: #B1D85C;
}
a.compStyleA_3{
	background: #84C0F2;
}
a.compStyleA_4{
	background: #BFBDBD;
}
a.compStyleA_5{
	background: #F58384;
}
a.compStyleA_6{
	background: #323D45;
}
a.compStyleA_7{
	background: #457CE6;
}
a.compStyleA_8{
	background: #FF0C8A;
}
a.compStyleA_9{
	background:#8CBCD1;
}
a.compStyleA_10{
	background: #1C658B;
}
a.leftRadius{
	-moz-border-radius-topleft: 5px; 
	-webkit-border-top-left-radius: 5px;
	-khtml-border-top-left-radius: 5px; 
	border-top-left-radius: 5px;
	
    -moz-border-radius-bottomleft: 5px; 
	-webkit-border-bottom-left-radius: 5px;
	-khtml-border-bottom-left-radius: 5px; 
	border-bottom-left-radius: 5px;
}

.compStyleULAB li{
	height: 30px! important;
}
.compStyleULAB{
	
}
.compStyleULAB li input{
	margin-top: 15px! important;
}

a.compStyleAB{
	border: 1px solid #cecece;
	border-radius: 2px;
	background: #f4f4f4;
	width: 24px;
	height: 28px;
	padding: 7px 9px;
	line-height: 14px;
	overflow: hidden;
	text-decoration: none;
	color: white! important;
	display: block;
	float: right;
	
	-moz-border-radius: 3px; 
	-webkit-border--radius: 3px;
	-khtml-border-radius: 3px; 
	border-radius: 3px;
	
}
a.compStyleA_11{
	background: #FEB252;
}
a.compStyleA_12{
	background: #666666;
}
a.compStyleA_13{
	background: #F58384;
}
a.compStyleA_14{
	background: #B10000;
}
a.compStyleA_15{
	background: #323D45;
}
a.compStyleA_16{
	background: #FF0C8A;
}
a.compStyleA_17{
	background: #8CBCD1;
}
a.compStyleA_18{
	background: #1C658B;
}

a:hover.compStyleAB{
	text-decoration: none;
}
.priviewContentFixed1{
	position: fixed;
	right: 0px;
	top: 100px;
	z-index: 9999;
}
.priviewContentFixed2{
	position: fixed;
	right: 30px;
	bottom: 150px;
	z-index: 9999;
}
.compTextareaCode{
	padding: 10px 30px;
	padding-left: 5px;
}
.compTextareaCode textarea{
	width: 100%;
	width: 450px;
	height: 300px;
	resize:none;
	border: #ccc 1px solid;
	padding: 10px;
	line-height: 20px;
	text-align: left;
	color: #555;
	overflow: auto;
	font: 12px/1.5 Arial,Helvetica,sans-serif;
	outline: none;
	box-shadow: inset 0px 0px 5px 3px #F8F8F8, inset 0 0 1px #000;
	
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	flex-direction: column;
	white-space: pre-wrap;
	word-wrap: break-word;
	
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
}
.compTextareaCode .compTextareaCodeBtn{
	padding: 10px 20px;
	font-weight:bold;
	font-size:16px;
	display: inline-block;
	margin-top: 15px;
}
.iframeWHAttr{
	padding: 5px;
}
.titleCreateSurveyBtn{
	margin-right:15px;
	float: right;
	background-color: #67ACC2;
	background-image: linear-gradient(bottom, #67ACC2 0%, #67ACC2 100%);
	background-image: -o-linear-gradient(bottom, #67ACC2 0%, #67ACC2 100%);
	background-image: -moz-linear-gradient(bottom, #67ACC2 0%, #67ACC2 100%);
	background-image: -webkit-linear-gradient(bottom, #67ACC2 0%, #67ACC2 100%);
	background-image: -ms-linear-gradient(bottom, #67ACC2 0%, #67ACC2 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #67ACC2),
		color-stop(1, #67ACC2)
	);
	background-position: center top;
	background-repeat: no-repeat;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #67ACC2;
	color: #FFF! important;
	text-align: center;
	cursor: pointer;
	outline-style: none;
	text-shadow: 1px 1px 1px #67ACC2;
	padding: 6px 10px;
	margin-top: 5px;
	text-decoration: none;
}
a:hover.titleCreateSurveyBtn{
	text-decoration: none;
	background-color: #8CBCD1;
	background-image: linear-gradient(bottom, #8CBCD1 0%, #8CBCD1 100%);
	background-image: -o-linear-gradient(bottom, #8CBCD1 0%, #8CBCD1 100%);
	background-image: -moz-linear-gradient(bottom, #8CBCD1 0%, #8CBCD1 100%);
	background-image: -webkit-linear-gradient(bottom, #8CBCD1 0%, #8CBCD1 100%);
	background-image: -ms-linear-gradient(bottom, #8CBCD1 0%, #8CBCD1 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #8CBCD1),
		color-stop(1, #8CBCD1)
	);
	background-position: center bottom;
	border: 1px solid #8CBCD1;
}
.newright_tools{
	padding: 10px 10px;
	margin-top: 5px;
}
.newright_tools a{
	color: #5E5E5E! important;
}
.newDialogContent{
	padding: 10px;
}
.formDiv{
	padding: 5px 10px;
}
.formDiv label {
	width: 66px;
	text-align: right;
}
.surveyNameInput{
	width: 100%;
	border: none;
	background: #F8F8F8;
	outline-style: none;
	text-align: center;
	font-weight: bold;
}
.weixinImgPos{
	position: fixed;
	z-index:200;
	bottom: 50px;
	right: 5px;
	background-color: #e1e2e6;
	background-color:#CBCBCB;
	text-align: center;
	color: #717375;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.weixinImgPos div{
  	text-align: center;
 	color: #717375;
}