@CHARSET "UTF-8";

*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #E8E9EB;
}
.notification {
		position: fixed;
		display: inline-block;
		padding: .5em 5em;
		/* box-shadow: 2px 2px 5px -2px rgba(0,0,0,0.5); */
		background:#589FD3;
		color: white;
		z-index: 1000;
		font-family: "微软雅黑";
		text-align: center;
		letter-spacing:5px;
		/* filter:alpha(opacity=50); IE滤镜，透明度50%
		-moz-opacity:0.5; Firefox私有，透明度50%
		opacity:0.5;其他，透明度50% */
}
.ellipsis{
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	-icab-text-overflow:ellipsis;
	-khtml-text-overflow:ellipsis;
	-moz-text-overflow:ellipsis;
	-webkit-text-overflow:ellipsis;
}
 input[type='checkbox'],input[type='radio']{
	/* _vertical-align:-1px;
	vertical-align:-2px;
	margin-right: 5px; */
	vertical-align: middle!important;
	line-height: normal;
	cursor: pointer;
	margin: 0px 5px!important;
	padding: initial;
	background-color: initial;
	border: initial;
}
textarea{
	resize:none;
	outline: none;
	padding: 5px;
}
#wrap{
	/*如果浏览器小于1200，则设置wrap为1200*/
	/* width: 1200px; */
	margin: 0px auto;
}
#header{
	background: #122E57;
	padding-top: 5px;
	padding-bottom: 4px;
	overflow: auto;
	zoom: 1; 
	width: 100%;
	background: #24292c;
}
.header_Item{
	color: #F7F7F7;
}
#header_left{
	float: left;
	width: 500px;
}
#header_left img{
	float: left;
	margin-left: 15px;
}
#header_title{
	color: #F7F7F7;
	font-size: 14px;
	margin-top:12px;
	margin-left:10px;
	float: left;
	text-transform: capitalize;
}
#header_right{
	float: right;
	padding-right: 55px;
	padding-top: 10px;
}
#header_right a{
	color: #F7F7F7;
	text-decoration: none;
}
#header_right a:hover{
	text-decoration: underline;
}

#tools_wrap{
	background: #D6DCE4;
	/* margin-bottom: 15px; */
	/* border-top: 2px solid #ED6C00; */
	padding-top:1px;
	position: fixed;
	z-index:200;
	width: 100%;
	/* overflow:auto; */
	box-shadow:  4px 1px 3px rgba(224, 229, 233, 0.44);
}

#tools{
	width: 100%;
}
#tools .tools_tabs{
	overflow: auto;
	zoom: 1;
	/* height: 25px; */
}
#tools .tools_tabs ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
#tools .tools_tabs_left{
	float: left;
	padding-left: 65px;
	margin: 0px;
}
#tools .tools_tabs .tools_tabs_left ul li{
	float: left;
	padding: 3px 40px;
	font-family: "新宋体";
	font-size: 14px;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	border-top: 3px solid transparent;
	color: #333333;
	letter-spacing:2px;
	margin-left:1px;
	margin-top:1px;
	cursor: pointer;
}
#tools .tools_tabs .tools_tabs_left ul li:hover{
	border-top: 3px solid #9AC600;
	background: #E8EBEE;
} 
#tools .tools_tabs .tools_tabs_left ul li.current{
	border-top: 3px solid #9AC600;
	background: #F7F7F7;
}
#tools .tools_tabs_right{
	float: right;
	padding-right: 20px;
}
#tools .tools_tabs .tools_tabs_right ul li{
	float: left;
	padding: 5px 8px;
	font-family: Arial;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}
#tools .tools_tabs .tools_tabs_left ul li:hover{
	
}
/** 定义工具栏样式  **/
.tools_tab_div{
	display: none;
}
#tools_tab1{
	/* width: 950px; */
	float:left;
	overflow: auto;
	position: relative;
}
#tools  .tools_contents{
	background: #F7F7F7;
	border-bottom: 1px solid #BCBCBC;
	overflow: auto;
	position: relative;
	zoom:1;
}
.tools_item{
	float: left;
	border-right: 1px dashed #C7C7C7;
	overflow: auto;
	display: inline;
}
#toolsBashQu{
	width: 320px;
}
#toolsChenQu{
	width: 251px;
}
#toolsEvent{
	width: 131px;
}
.tools_contents .toolbars{
	background: #F7F7F7;
	overflow: auto;
	zoom: 1;
	padding-right: 5px;
}
.tools_contents .tooltext{
	height: 20px;
	background: #F1F2F4;
	font-size: 12px;
	font-family: "新宋体";
	color: #707781;
	line-height: 20px;
	text-align: center;
	padding:3px 0px;
	border-top: 1px dashed #C7C7C7;
	width: 100%;
}
.toolbars ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	margin-left: 5px;
}
.toolbars ul li{
	float:left;
	margin: 5px 5px;
	padding: 0px;
	display: inline;
	*width: 50px;
	/* border: 1px solid #cc3333; */
}
.toolbars ul li .dwToolbar_icon{
	background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
	width: 50px;
	height: 60px;
	margin: 0px;
	display:block;
	padding: 0px;
}
.toolbars ul li .dwQuTypeModel{
	display: none;
}
/* 工具栏单选题 */
#radioQuModel .dwToolbar_icon{
	background-position: -0px -6px;
}
#radioQuModel:hover .dwToolbar_icon,#radioQuModel.hover .dwToolbar_icon{
	background-position: -0px -74px;
}

#checkboxQuModel .dwToolbar_icon{
	background-position: -57px -6px;
}
#checkboxQuModel:hover .dwToolbar_icon,#checkboxQuModel.hover .dwToolbar_icon{
	background-position: -57px -74px;
}

#fillblankQuModel .dwToolbar_icon{
	background-position: -113px -6px;
}
#fillblankQuModel:hover .dwToolbar_icon,#fillblankQuModel.hover .dwToolbar_icon{
	background-position: -113px -74px;
}

#scoreQuModel .dwToolbar_icon{
	background-position: -170px -6px;
}
#scoreQuModel:hover .dwToolbar_icon,#scoreQuModel.hover .dwToolbar_icon{
	background-position: -170px -74px;
}

#orderQuModel .dwToolbar_icon{
	background-position: -227px -6px;
}
#orderQuModel:hover .dwToolbar_icon,#orderQuModel.hover .dwToolbar_icon{
	background-position: -227px -74px;
}

#pageQuModel .dwToolbar_icon{
	background-position: -283px -6px;
}
#pageQuModel:hover .dwToolbar_icon,#pageQuModel.hover .dwToolbar_icon{
	background-position: -283px -74px;
}

#paragraphQuModel .dwToolbar_icon{
	background-position: -340px -6px;
}
#paragraphQuModel:hover .dwToolbar_icon,#paragraphQuModel.hover .dwToolbar_icon{
	background-position: -340px -74px;
}

#mfillblankQuModel .dwToolbar_icon{
	background-position: -397px -6px;
}
#mfillblankQuModel:hover .dwToolbar_icon,#mfillblankQuModel.hover .dwToolbar_icon{
	background-position: -397px -74px;
}
/** 矩阵题 **/
#chenRadioQuModel .dwToolbar_icon{
	background-position: -454px -6px;
}
#chenRadioQuModel:hover .dwToolbar_icon,#chenRadioQuModel.hover .dwToolbar_icon{
	background-position: -454px -74px;
}

#chenCheckboxQuModel .dwToolbar_icon{
	background-position: -510px -6px;
}
#chenCheckboxQuModel:hover .dwToolbar_icon,#chenCheckboxQuModel.hover .dwToolbar_icon{
	background-position: -510px -74px;
}

#chenScoreQuModel .dwToolbar_icon{
	background-position: -567px -6px;
}
#chenScoreQuModel:hover .dwToolbar_icon,#chenScoreQuModel.hover .dwToolbar_icon{
	background-position: -567px -74px;
}

#chenFillblankQuModel .dwToolbar_icon{
	background-position: -624px -6px;
}
#chenFillblankQuModel:hover .dwToolbar_icon,#chenFillblankQuModel.hover .dwToolbar_icon{
	background-position: -624px -74px;
}

#exportToolbar .dwToolbar_icon{
	background-position: -680px -6px;
}
#exportToolbar:hover .dwToolbar_icon,#exportToolbar.hover .dwToolbar_icon{
	background-position: -680px -74px;
}

#logicToolbar .dwToolbar_icon{
	background-position: -737px -6px;
}
#logicToolbar:hover .dwToolbar_icon,#logicToolbar.hover .dwToolbar_icon{
	background-position: -737px -74px;
}

#qubankToolbar .dwToolbar_icon{
	background-position: -794px -6px;
}
#qubankToolbar:hover .dwToolbar_icon,#qubankToolbar.hover .dwToolbar_icon{
	background-position: -794px -74px;
}

#surveyAttrSetToolbar .dwToolbar_icon{
	background-position: -680px -250px;
}
#surveyAttrSetToolbar:hover .dwToolbar_icon,#surveyAttrSetToolbar.hover .dwToolbar_icon{
	background-position: -680px -320px;
}

#surveyStyleEditToolbar .dwToolbar_icon{
	background-position: -738px -250px;
}
#surveyStyleEditToolbar:hover .dwToolbar_icon,#surveyStyleEditToolbar.hover .dwToolbar_icon{
	background-position: -738px -320px;
}

/**更多题型**/
#userNameQuModel .dwToolbar_icon{
	background-position: -113px -250px;
}
#userNameQuModel:hover .dwToolbar_icon,#userNameQuModel.hover .dwToolbar_icon{
	background-position: -113px -320px;
}

#phoneNoQuModel .dwToolbar_icon{
	background-position: -56px -250px;
}
#phoneNoQuModel:hover .dwToolbar_icon,#phoneNoQuModel.hover .dwToolbar_icon{
	background-position: -56px -320px;
}

#addressQuModel .dwToolbar_icon{
	background-position: -170px -250px;
}
#addressQuModel:hover .dwToolbar_icon,#addressQuModel.hover .dwToolbar_icon{
	background-position: -170px -320px;
}

#birthdayQuModel .dwToolbar_icon{
	background-position: -283px -250px;
}
#birthdayQuModel:hover .dwToolbar_icon,#birthdayQuModel.hover .dwToolbar_icon{
	background-position: -283px -320px;
}

#emailQuModel .dwToolbar_icon{
	background-position: -0px -250px;
}
#emailQuModel:hover .dwToolbar_icon,#emailQuModel.hover .dwToolbar_icon{
	background-position: -0px -320px;
}

#genderQuModel .dwToolbar_icon{
	background-position: -568px -250px;
}
#genderQuModel:hover .dwToolbar_icon,#genderQuModel.hover .dwToolbar_icon{
	background-position: -568px -320px;
}
#educationQuModel .dwToolbar_icon{
	background-position: -398px -250px;
}
#educationQuModel:hover .dwToolbar_icon,#educationQuModel.hover .dwToolbar_icon{
	background-position: -398px -320px;
}
#companyQuModel .dwToolbar_icon{
	background-position: -343px -250px;
}
#companyQuModel:hover .dwToolbar_icon,#companyQuModel.hover .dwToolbar_icon{
	background-position: -343px -320px;
}
#cityQuModel .dwToolbar_icon{
	background-position: -455px -250px;
}
#cityQuModel:hover .dwToolbar_icon,#cityQuModel.hover .dwToolbar_icon{
	background-position: -455px -320px;
}
#maritalQuModel .dwToolbar_icon{
	background-position: -229px -250px;
}
#maritalQuModel:hover .dwToolbar_icon,#maritalQuModel.hover .dwToolbar_icon{
	background-position: -229px -320px;
}
#salaryQuModel .dwToolbar_icon{
	background-position: -511px -250px;
}
#salaryQuModel:hover .dwToolbar_icon,#salaryQuModel.hover .dwToolbar_icon{
	background-position: -511px -320px;
}
#dateQuModel .dwToolbar_icon{
	background-position: -630px -250px;
}
#dateQuModel:hover .dwToolbar_icon,#dateQuModel.hover .dwToolbar_icon{
	background-position: -630px -320px;
}

#publishBtn .dwToolbar_icon{
	width:70px;
	height:39px;
	background-position: -0px -145px;
}
#publishBtn:hover .dwToolbar_icon,#publishBtn.hover .dwToolbar_icon{
	width:70px;
	height:39px;
	background-position: -0px -199px;
}

#saveBtn .dwToolbar_icon{
	width:70px;
	height:39px;
	background-position: -90px -145px;
}
#saveBtn:hover .dwToolbar_icon,#saveBtn.hover .dwToolbar_icon{
	width:70px;
	height:39px;
	background-position: -90px -200px;
}

#previewBtn .dwToolbar_icon{
	width:70px;
	height:39px;
	background-position: -180px -145px;
}
#previewBtn:hover .dwToolbar_icon,#previewBtn.hover .dwToolbar_icon{
	width:70px;
	height:39px;
	background-position: -180px -199px;
}
#saveＭodelBtn .dwToolbar_icon{
	width:70px;
	height:39px;
	background-position: -0px -199px;
}
#saveＭodelBtn:hover .dwToolbar_icon,#saveＭodelBtn.hover .dwToolbar_icon{
	width:70px;
	height:39px;
	background-position: -0px -199px;
}

#toolsPubBtn{
	position:absolute;
	*position: relative;
	display:inline;
	z-index: 300;
	right:0px;
	float:right;
	background: none;
}
#toolsPubBtn .toolbars{
	background: none;
}
#dw_body_left{
	width: 190px;
	height: 600px;
	border: 1px solid #c8c9cc;
	border-left:none;
	background: #FAFAFA;
	position: fixed;
	float:left;
	left: 0px;
	top:190px;
	z-index: 1;
    display: none;
}
#dwBodyLeftContent{
	padding-top: 10px;
	color: #333;
}
#dwBodyLeftContent h2 {
	background: url(/static/editor/img/catalog-h1-icon_72e0d273.png) 0 9px no-repeat;
	margin-bottom: 5px;
	margin-top: 5px;
}
#dwBodyLeftContent h2, #dwBodyLeftContent h3 {
	font-size: 14px;
	font-family:"微软雅黑";
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0px;
	width: 160px;
}
#dwBodyLeftContent h3 {
	padding: 0 8px 0 25px;
	background: url(/static/editor/img/catalog-h2-icon_ddc25a3d.png) 12px 11px no-repeat;
}
#dwBodyLeftContent a {
	text-decoration: none;
	display: inline-block;
	padding:0px 5px;
	color: #707781;
	width: 170px;
}
#dwBodyLeftContent a:hover{
	background: #F1F2F4;
	color: #4c6c99;
}
#dw_body_right{
	width: 190px;
	height: 600px;
	border: 1px solid #c8c9cc;
	background: #FAFAFA;
	border-right: none;
	position: fixed;
	right: 0px;
	top:190px;
	z-index: 1;
	float: right;
}
#dw_body{
	margin-top: 135px;
	/* padding-bottom: 50px; */
	padding-bottom: 40px;
}
#dw_body .dw_body_title{
	background: #F0F1F4;
	border-bottom:1px solid #DDE1E7;
	padding: 8px 10px;
	color: #333;
	font-family:"新宋体";
	font-weight: normal;
	text-decoration: none;
	font-size: 14px;
	letter-spacing:2px;
}
#dw_body_content{
	background:white;
	width: 780px;
	margin: 0px auto;
	border: 1px solid #c8c9cc;
	/* height: 600px; */
	position: relative;
	z-index: 50;
}
/* 编辑内容区 */
#dwSurveyTitle{
	margin: 0px 50px;
	margin-top: 10px;
}
#dwSurveyName{
	text-align: center;
	outline-style: none;
	font-weight: none;
	font-family:"微软雅黑";
	font-size: 21px;
	letter-spacing:1px;
	color:#222222;
	cursor:text;
	overflow: auto;
	width: 680px;
	padding: 5px;
	overflow: auto;
}
#dwSurveyNote{
	/* border: 1px solid transparent; */
	margin: 5px 50px;
}
#dwSurveyNote:hover{
	background: #FDF9CD;
}
#dwSurveyNote.click{
	border: 1px solid #98C5C3;
	background: #FDF9CD;
}
#dwSurveyNote.click #dwSurveyNoteTools{
	display: inline;
}
#dwSurveyNoteTools{
	position: absolute;
	width: 80px;
	height: 25px;
	/* background: #DDE1E7;
	background: #D4E0E0; */
	border: 1px solid #98C5C3;
	right: 35px;
	margin-top: -27px;
	display: none;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #5D5D5D;
}
#dwSurveyNoteTools:hover{
	background: #98C5C3;
	color: #333333;
}
#dwSurveyNoteEdit{
	font-size: 16px;
	outline-style: none;
	/* text-indent: 2em; */
	line-height: 1.4em;
	color: #333333;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	cursor: text;
	font-family: "微软雅黑";
	overflow: auto;
	max-width: 720px;
	width:680px;
	min-height: 30px;
}
.editAble{
	outline-style: none;
	color: #333333;
	font-family: "微软雅黑";
	vertical-align: middle;
	cursor: text;
	display: inline-block;
	max-width: 750px;
	table-layout: fixed;
	word-break: break-all;
}
.editAble:hover,.quCoItemUlLi.hover .editAble{
	background: #FDF9CD;
}
.editAble img,.editAble embed,.editAble object,
#dwComEditContent img,#dwComEditContent embed,#dwComEditContent object{
	max-width:95%;
}
.quDragBody{
	border: 1px solid #299995;
	background: white;
	filter:alpha(opacity=80); /*IE滤镜，透明度50%*/
	-moz-opacity:0.8; /*Firefox私有，透明度50%*/
	opacity:0.8;/*其他，透明度50%*/
	width: 800px;
	cursor: move! important;
}
.sortActiveclass{
	border: 1px solid #C9C9C9;
	background: #FAFAFA;
}
#dwSurveyQuContentAppUl{
	list-style: none;
	padding-bottom: 200px;
}
/**题目开始**/
.surveyQuItemBody{
	/* margin:0px;
	padding:0px;
	overflow: auto; */
}
#defaultAppQuObj.hover {
 	border: 1px solid transparent;
 	background: none;
 	border-left: none;
	border-right: none;
}
.surveyQuItem{
	overflow: auto;
	margin-top: 0px;
	border: 1px solid transparent;
	/* border: 1px solid #C9C9C9; */
	border-left: none;
	border-right: none;
	background: white;
}
.surveyQuItemBody .initLine{
	width: 100%;
	height: 8px;
	background: #299995;
	/* visibility: hidden; */
	display: none;
}
.surveyQuItemBody.showLine .initLine{
	visibility: visible;
}
.surveyQuItemBody.hover .surveyQuItem{
/* 	background: #FAFAFA; */
	border: 1px solid #C9C9C9;
	border: 1px solid transparent;
	border-left: none;
	border-right: none;
}
/**jquery ui sort 实现  上面是老的实现 **/
#dwSurveyQuContentAppUl li{
	border-top: 1px dashed transparent;
	border-bottom: 1px dashed transparent;
}
#dwSurveyQuContentAppUl li.showLine{
/* 显示线条的方式*/
	width: 100%;
	height: 60px;
	/* border-top:1px solid #299995;
	border-bottom:1px solid #299995; */
	background: #F1F2F4;
	border-top: 1px dashed #C7C7C7;
	border-bottom: 1px dashed #C7C7C7;
}
/**题目功能区**/
/** 题目左边 设置，逻辑，删除 **/
.surveyQuItemLeftTools{
	float: left;
	width: 40px;
	text-align: center;
	margin-top: 5px;
}
.surveyQuItemLeftToolsUl{
	padding: 0px;
	margin: 0px auto;
	list-style: none;
	/* display: none; */
	visibility: hidden;
}
.surveyQuItemLeftToolsUl li{
	margin: 5px auto;
	font-size: 12px;
	color: #5D5D5D;
	padding: 0px;
	cursor: pointer;
	width: 40px;
}
.surveyQuItemLeftToolsUl li .dwQuIcon{
	background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
	width: 23px;
	height: 23px;
	margin: 0px auto;
}
li.dwQuMove{
	cursor: move;
}
li.dwQuMove .dwQuIcon{
	background-position: -336px -153px;
}
li.dwQuSet .dwQuIcon{
	background-position: -280px -153px;
}
li.dwQuLogic .dwQuIcon{
	background-position: -279px -178px;
}
li.dwQuDelete .dwQuIcon{
	background-position: -277px -205px;
}
li.dwQuLogic  .dwQuIcon  .quLogicInfo{
	position:absolute;
	text-align: right;
	font-size: 8px;
	margin-left: 20px;
	margin-top: -4px;
	font-family: "微软雅黑";
	background: #E0761A;
	border-radius: 2px;
	padding:0px;
	width:12px;
	color: white;
	text-align: center;
}
/**如果有逻辑题，显示的提示**/
.quLogicData{
	position: absolute;
	background: white;
	right: 5px;
	margin-top: 5px;
	cursor: pointer;
	display: none;
}
.quLogicData .dwQuIcon{
	background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
	background-position: -279px -178px;
	width: 23px;
	height: 23px;
	float: left;
}
.quLogicData .quLogicInfo{
	float: left;
	background: #C2BAA7;
	color: white;
	font-weight:bold;
	text-align: center;
	padding: 2px 0px;
	width: 16px;
	border-radius: 2px;
}
/** 题目右边上移、下移  **/
.surveyQuItemRightTools{
	position: absolute;
	background: white;
	border: 1px solid #98C5C3;
	border:none;
	right: -23px;
	margin-top: 40px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
	color: #5D5D5D;
	display: none;
}
.surveyQuItemRightToolsUl{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.surveyQuItemRightToolsUl li{
	font-size: 12px;
	margin:0px;
}
.surveyQuItemRightToolsUl li .dwQuIcon{
	background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
	width: 23px;
	height: 23px;
}
.surveyQuItemRightToolsUl li.questionUp .dwQuIcon{
	background-position:-471px -150px;
}
.surveyQuItemRightToolsUl li.questionDown .dwQuIcon{
	background-position:-437px  -150px;
}

/** 题目内容区 **/
.surveyQuItem .surveyQuItemContent{
	float: left;
	padding-left: 10px;
	border-left: 1px solid transparent;
	min-height: 100px;
	width: 700px;
}
.surveyQuItemBody.hover .surveyQuItemContent{
 	border-left: 1px solid #DDE1E7;
 	border-left: 1px solid transparent;
}
.surveyQuItemContent{
	padding: 2px 25px;
	/* padding-bottom: 20px;
	cursor: move; */
}
.surveyQuItemContent .quCoTitle{
	font-size: 16px;
	color: rgb(51, 51, 51);
	font-family: "微软雅黑";
	line-height: 1.4em;
	overflow: auto;
}
.quCoNum{
	
}
.quCoTitle .quCoNum{
	float: left;
	padding: 5px 0px ;
}
.quCoTitle .quCoTitleEdit{
	float: left;
	padding: 5px 3px ;
	width: 600px;
	cursor: text;
	table-layout:fixed; word-break: break-all;
}
.surveyQuItemContent .quCoItem{
	margin-top: 0px;
	margin-left: 10px;
}
.surveyQuItemContent .quCoItem ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
	
	font-size: 14px;
	display: inline-block;
	width: 100%;
}
.surveyQuItemContent .quCoItem ul li{
	margin: 8px 5px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333333;
	line-height: 1.4em;
	/* cursor: move; */
	overflow: hidden;
	display: list-item;
}
.surveyQuItemContent .quCoItem ul.transverse li{
	float: left;
}
.quInputCase,.quItemInputCase{
	display: none;
}
.surveyQuItemContent .quCoItem ul li label{
	vertical-align: middle;
	cursor: text;
	
	display: inline-block;
	max-width: 600px;
	table-layout:fixed; word-break: break-all;
}
/**按列的形式显示选项，使用表格**/
.surveyQuItemContent .quCoItem table.tableQuColItem{
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.surveyQuItemContent .quCoItem table.tableQuColItem tr td{
	vertical-align: middle;
	padding:5px 0px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333333;
	line-height: 1.4em;
}
.surveyQuItemContent .quCoItem table.tableQuColItem tr td label{
	padding:3px 0px;
	vertical-align: middle;
	cursor: text;
	
	display: inline-block;
	max-width: 600px;
	table-layout:fixed; word-break: break-all;
}

.surveyQuItemContent .quCoBottomTools{
	visibility: hidden;
	padding-top: 3px;
	padding-bottom: 5px;
	padding-left: 10px;
	overflow: auto;
}
.surveyQuItemContent .quCoBottomTools ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.surveyQuItemContent .quCoBottomTools ul li{
	float: left;
	/* padding: 3px 8px; */
	padding:0px;
	margin: 0px auto;
	cursor: pointer;
	font-family: "微软雅黑";
	font-size: 12px;
	text-align: center;
	width: 40px;
}
.surveyQuItemContent .quCoBottomTools ul li .dwQuIcon{
	/* background: transparent url("../images/toolbar.png") 0px 0px no-repeat; */
	width: 25px;
	height: 25px;
	margin: 0px auto;
}
li.addOption .dwQuIcon,li.addColumnOption .dwQuIcon,li.addRowOption .dwQuIcon{
	background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
	background-position: -620px -153px;
}
li.addMoreOption .dwQuIcon,li.addMoreColumnOption .dwQuIcon,li.addMoreRowOption .dwQuIcon{
	background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
	background-position: -658px -153px;
}
.surveyQuItemContent .quCoBottomTools ul li:hover{
	/* background: #D6DCE4; */
}
/** 移入时显示左右功能按钮 **/
.surveyQuItemBody.hover .surveyQuItemLeftToolsUl,
.surveyQuItemBody.hover .quCoBottomTools,
.surveyQuItemBody.hover .quCoRightTools{
	visibility: visible;
}
.surveyQuItemBody.hover .surveyQuItemRightTools,.surveyQuItemBody.hover .quCoRightTools{
	display: inline;
}

.editMenuRoot {
	position: absolute;
	width:100px;
	right: 100px;
}
.editMenuRoot .editMenuBtn{
	width: 30px;
	height: 32px;
	background: #E0E6E9;
	border: 1px solid #98C5C3;
	margin-left: -1px;
	float: right;
}
.editMenuRoot .editMenuList{
	width: 120px;
	height: 100px;
	margin-top:30px;
}
.editMenuRoot .editMenuList ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.editMenuRoot .editMenuList ul li{
	font: 12px;
	background: #E0E6E9;
	padding: 5px;
	border: 1px solid #98C5C3;
}
/** 公共编辑 **/
#dwCommonEditRoot{
	position: absolute;
	display: none;
	z-index: 102;
}
#dwCommonEditRoot .dwCommonEdit{
	border: 1px solid #98C5C3;
	background: #FDF9CD;
	position: absolute;
}
.dwCommonEdit .dwComEditMenuUl{
	position:absolute;
	background: white;
	border: 1px solid #98C5C3;
	padding: 0px;
	margin: 0px;
	display: none;
}
.dwCommonEdit .dwComEditMenuUl li{
	list-style: none;
	padding: 5px;
	margin: 0px;
	font-size: 12px;
	color: #333333;
}
.dwCommonEdit .dwComEditMenuUl li a{
	color: #333333;
	text-decoration: none;
	font-size: 12px;
}
.dwCommonEdit .dwComEditOptionUl{
	position:absolute;
	background: white;
	border: 1px solid #98C5C3;
	padding: 0px;
	margin: 0px;
	display: none;
	list-style: none;
	right: 0px;
	top:-28px;
}
.dwCommonEdit .dwComEditOptionUl li{
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	color: #333333;
	float: left;
	cursor: pointer;
}
.dwComEditOptionUl li .dwQuIcon{
	width: 30px;
	height: 26px;
	background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
}
.dwComEditOptionUl li.dwOptionUp .dwQuIcon{
	background-position:-468px -150px;
}
.dwComEditOptionUl li.dwOptionDown .dwQuIcon{
	background-position:-433px -150px;
}
.dwComEditOptionUl li.dwOptionDel .dwQuIcon{
	background-position:-494px -150px;
}

.dwCommonEdit .dwComEditMenuBtn{
	position: absolute;
	right: -32px;
	top:-1px;
	border: 1px solid #98C5C3;
	background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
	cursor: pointer;
	background-color: #DBE5F1;
}
#dwComEditContent{
	outline-style: none;
	color: #333333;
	font-family: "微软雅黑";
	line-height: 1.4em;
	
	table-layout:fixed; word-break: break-all;
}
/** 问卷标题 **/
#dwCommonEditRoot.svyName #dwComEditContent{
	text-align: center;
	outline-style: none;
	font-weight: none;
	font-size: 21px;
	letter-spacing:1px;
	color:#222222;
	cursor:text;
	padding-top:2px;
	padding-bottom:1px; 
	line-height:1.4em;
	overflow: auto;
}
#dwCommonEditRoot.svyName .dwComEditMenuBtn{
	width: 30px;
	height: 32px;
	background-position:-392px -150px;
}
#dwCommonEditRoot.svyName .dwComEditMenuUl{
	margin-top:32px;
	right:-32px;
}
/** 问卷欢迎语编辑 **/
#dwCommonEditRoot.svyNoteEdit #dwComEditContent{
	font-size: 16px;
	outline-style: none;
	/* text-indent: 2em; */
	line-height: 1.4em;
	color: #333333;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	cursor: text;
	font-family: "微软雅黑";
}
#dwCommonEditRoot.svyNoteEdit .dwComEditMenuBtn{
	width: 30px;
	height: 32px;
	background-position:-392px -150px;
}
#dwCommonEditRoot.svyNoteEdit .dwComEditMenuUl{
	margin-top:32px;
	right:-32px;
}
/** 编辑题目标题时样式  **/
#dwCommonEditRoot.quEdit .dwCommonEdit{
	width:600px;
	padding: 0px;
}
#dwCommonEditRoot.quEdit .dwComEditMenuUl{
	margin-top:32px;
	right:-32px;
}
#dwCommonEditRoot.quEdit .dwComEditMenuBtn{
	width: 30px;
	height: 32px;
	background-position:-392px -150px;
}
#dwCommonEditRoot.quEdit  #dwComEditContent{
	padding: 5px;
	font-size: 16px;
}
#dwCommonEditRoot.quEdit .dwComEditOptionUl{
	display: none;
}

/**编辑题目选项是样式**/
#dwCommonEditRoot.quOptionEdit .dwCommonEdit{
	width: 200px;
	padding:0px 0px 0px 0px;
}
#dwCommonEditRoot.quOptionEdit .dwComEditMenuUl{
	margin-top:23px;
	right:-25px;
}
#dwCommonEditRoot.quOptionEdit  .dwComEditOptionUl{
	
}
#dwCommonEditRoot.quOptionEdit .dwComEditMenuBtn{
	width: 23px;
	height: 23px;
	right: -25px;
	background-position:-392px -183px;
}
#dwCommonEditRoot.quOptionEdit  #dwComEditContent{
	padding: 2px 0px;
	font-size: 14px;
}
#dwCommonEditRoot.quOptionEdit .dwComEditOptionUl{
	display: inline;
}
/**input menu菜单 **/
#dwCommonInputMenuRoot{
	position: absolute;
	display: none;
	z-index: 102;
}
#dwCommonInputMenuRoot .dwCommonInputMenu{
	background: #FDF9CD;
	position: absolute;
}
.dwCommonInputMenu .dwComEditMenuUl{
	display: none;
}
.dwCommonInputMenu .dwComEditMenuBtn{
	position: absolute;
	border: 1px solid #98C5C3;
	background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
	cursor: pointer;
	background-color: #DBE5F1;
}
.dwCommonInputMenu .dwComEditMenuBtn{
	width: 23px;
	height: 28px;
	background-position:-392px -179px;
}

/** 弹出窗口代码 **/
#dwCommonDialog{
	position: absolute;
	z-index: 99;
	top: 200px;
	left: 200px;
	background: #FAFAFA;
	display: none;
	min-width: 504px;
}
#dwCommonDialog .dwCommonRefIcon{
	position: absolute;
	font-size: 30px!important;
	z-index: 99;
	width: 30px;
	border-bottom: none!important;
	top: 7px;
}
.dwCommonRefIcon .dwCommonRefIcon1{
	border-width: 7px;
	z-index: 3;
	left: 1px;
	font: 0px/9999px serif;
	overflow: hidden;
	position: absolute;
	width: 0px;
	height: 0px;
	color: inherit;
}
.dwCommonRefIcon .dwCommonRefIcon2{
	border-width: 7px;
	font: 0px/9999px serif;
	overflow: hidden;
	position: absolute;
	z-index: 1;
	width: 0px;
	height: 0px;
	color: inherit;
}
#dwCommonDialog .dwCommonRefIcon.left{
	left: -14px;
}
.dwCommonRefIcon.left .dwCommonRefIcon1{
	border-style: dashed solid dashed dashed;
	border-color: transparent #EFEFEF transparent transparent;
}
.dwCommonRefIcon.left .dwCommonRefIcon2{
	border-style: dashed solid dashed dashed;
	border-color: transparent #0D75AD transparent transparent;
}
#dwCommonDialog .dwCommonRefIcon.right{
	right: -30px;	
}
.dwCommonRefIcon.right .dwCommonRefIcon1{
	left: -1px;
	border-color: transparent transparent transparent rgb(239, 239, 239);
	border-style: dashed dashed dashed solid;
}
.dwCommonRefIcon.right .dwCommonRefIcon2{
	border-color: transparent transparent transparent rgb(84, 139, 167);
	border-style: dashed dashed dashed solid;
}

#dwCommonDialog .dwCommonDialogBody{
	border: 1px solid #62A3C6;
	/* width: 500px;
	height: 300px; */
	box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
}
.dwCommonDialogBody .dwCommonDialogTitle{
	height: 28px;
	line-height: 28px;
	color: #808080;
	font-size: 14px;
	font-weight: bold;
	padding: 0 8px;
	background: #EFEFEF;
}
.dwCommonDialogBody .closeDialog{
	float:right;
	width: 28px;
	height: 28px;
	background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
	background-position:-494px -150px;
	cursor: pointer;
}
.modelHtml,.dialogContentModel{
	display: none;
}

.dwQuFormSetDialog{
	width: 450px;
	padding: 0px 30px;
}
.dwQuFormSetDialog ul{
	list-style: none;
	padding: 10px 0px;
	padding-bottom:0px;
	margin: 0px;
}
.dwQuFormSetDialog ul li{
	font-size: 14px;
	color: #333333;
	font-family: "微软雅黑";
	padding: 2px 5px;
	margin: 2px;
}
.dwQuFormSetDialog ul li select,.dwQuFormSetDialog ul li input{
	padding: 5px;
	color: #333333;
	border: 1px solid #98C5C3;
}
.dwQuDialogBtnCon{
	padding: 0px;
	padding-bottom: 8px;
	overflow: auto;
}
.quDialogBtn{
	background: #4AB048;
	color: white;
	font-size: 16px;
	padding: 8px 15px;
	border: none;
	outline: none;
	cursor: pointer;
	float: right;
}
.quDialogBtn-1{
	background-color: #869686;
}
.quDialogBtn:hover{
	background: #0AA5A0;
}
/** 批量添加选项 **/
.dwQuAddMore{
	padding: 0px 30px;
	margin: 0px;
	overflow: auto;
}
.dwQuAddMore textarea{
	padding: 5px;
	color: #333333;
	border: 1px solid #98C5C3;
	outline: none;
	width:430px;
	height: 150px;
	margin-bottom: 10px;
}
.dwQuDialogCon{
	display: none;
}
.dwQuAddMore .dwQuTextSpan{
	font-size:12px;
	color:#333;
	padding:5px;
	margin-top: 10px;
}
/**逻辑设置弹出窗口**/
.dwQuDialogLogic{
	padding: 0px 30px;
	margin: 0px;
	overflow: auto;	
}
.dwQuDialogLogicTitle{
	font-size: 12px;
	line-height: 1.4em;
	color: #213E5E;
	margin-top: 15px;
}
.dwQuDialogLogic table{
	font-size: 14px;
	color: #333;
	font-family: "微软雅黑";
}
.dwQuDialogLogic table tr td{
	padding: 0px 2px;
}
.dwQuDialogLogic select{
	width: 160px;
	height: 30px;
	border: 1px #77a5b4 solid;
	padding: 2px;
	vertical-align: middle;
	outline: none;
}
.dwQuDialogBotEvent{
	padding: 2px;
}
.dwQuDialogAddLogic{
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.dwQuDialogAddLogic .dwQuIcon{
		width: 25px;
		height: 25px;
		margin: 0px auto;
		background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
		background-position: -620px -153px;
}
.dialogRemoveLogic{
		width: 23px;
		height: 23px;
		margin: 0px auto;
		background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
		background-position: -690px -152px;
		cursor: pointer;
}
.dwQuDialogLoad{
	width: 450px;
	padding-top:80px;
	padding-bottom:80px;
	text-align: center;
}
.dwQuDialogLoad img{
	
}
#modelUIDialogContent{
	padding: 10px 20px;
}
#modelUIDialogContent input{
	outline: none;
}
#modelUIDialogContent select{
	outline: none;
}
/** 选项设置  **/
.quOptionFillContentLi,.quOptionFillRequiredLi{
	display: none;
}
.optionInpText{
	padding:5px;
	margin-left:5px;
	margin-top:5px;
}

.surveyQuItemBody.hover .quFillblankItem .dwFbMenuBtn{
/* 	display: inline; */
}
.quCoItemUlLi.hover .quFillblankItem .dwFbMenuBtn{
	display: inline;
}
.quFillblankItem{
	position: relative;
}
.quFillblankItem .dwFbMenuBtn{
	position: absolute;
	border: 1px solid #98C5C3;
	background: transparent url("../images/toolbar.png") 0px 0px no-repeat;
	cursor: pointer;
	background-color: #DBE5F1;
	display: none;
	width: 23px;
	height: 27px;
	background-position:-392px -179px;
	margin-left: -1px;
}
/**评分题**/
.quCoItemTable{
	color: #333333;
	font-family: "微软雅黑";
	font-size: 12px;
}
.quCoItemTableTd{
	padding: 5px;
}
.scoreNumTable {
	border: 1px solid #DDE1E7;
	width: 300px;
	margin-top: 2px;
}
.scoreNumTable tr td{
	text-align: center;
	font-size: 12px;
	padding: 0px;
}
.quOptionEditTd .editAble{
	width: 100%;
	font-size: 14px;
}
/** 排序题 **/
.quOrderByLeft{
	float: left;
	width: 300px;
	overflow: auto;
}
.quOrderByLeft ul li{
	margin: 0px! important;
	padding: 7px 5px;
}
.quOrderByLeft .quCoOptionEdit{
	width: 280px;
	border: 1px solid #CCCCCC;
	padding-left: 3px;
}
.quOrderByRight{
	float: left;
	overflow: auto;
}
.quOrderByTable{
	border-collapse: collapse;
	border-spacing: 0;
	width: 330px;
}
.quOrderByTable tr td{
	padding: 8px;
	border: 1px solid #dbdbdb;
}
.quOrderByTable tr td.quOrderyTableTd{
	background: #efefef;
	color: #666666;
	font-size: 14px;
	line-height: 1.4;
	text-align: center;
	padding: 8px;
	border: 1px solid #dbdbdb;
	width: 30px;
}
/**分页题*/
.pageQuContent{
	text-align: right;
	padding: 8px 15px;
	font-family: "微软雅黑";
	line-height: 1.4em;
	color: #666666;
	font-size: 14px;
	/* border-top: 2px solid #BCBCBC; */
}
.pageBorderTop{
	margin:0px 10px;
	border-top: 3px solid transparent;
	border-top: 3px solid #D6DCE4;
}
.pageBorderTop.nohover{
	border-top: 3px solid #D6DCE4;
}
/**多项填空题**/
.mFillblankTable{
	
}
.mFillblankTable tr td{
	padding: 5px 8px;
	vertical-align: middle;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333333;
	line-height: 1.4em;
}
.mFillblankTable tr td .editAble{
	width: 100%;
}
.mFillblankTable .mFillblankTableEditTd{
}
/**jquery ui dialog**/
.ui-icon-closethick {
	background: transparent url("../images/toolbar.png") 0px 0px no-repeat! important;
	background-position: -502px -155px! important;
}
#editDialogCenter{
    width: 678px;
    border-bottom: 1px solid #c8c9cc;
    overflow: hidden;
    margin: auto;
    padding-top: 3px;
    background-color: #fff;
    text-align: left;
}
#dialogUeBottom{
	padding: 5px 10px;
}

/**矩陈题**/
.quCoItemLeftChenTableDiv{
	float: left;
	overflow: auto;
}
table.quCoChenTable{
	padding: 0px;
	margin: 0px;
	width: 650px;
	border: 1px solid #dddddd;
	border-collapse: separate;
	border-left: 0;
	border-spacing: 0;
}
table.quCoChenTable tr td{
	vertical-align: middle;
	padding:3px 0px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333333;
	line-height: 1.4em;
	text-align: center;
	border-left: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
}

table.quCoChenTable tr td label{
	padding:3px 0px;
	vertical-align: middle;
	cursor: text;
	display: inline-block;
	max-width: 600px;
	table-layout:fixed; word-break: break-all;
	width: 100%;
}

.surveyQuItemContent .quCoRightTools{
	visibility: hidden;
	overflow: auto;
	float: right;
	padding: 0px;
}
.surveyQuItemContent .quCoRightTools ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	margin-top: 12px;
}
.surveyQuItemContent .quCoRightTools ul li{
	/* padding: 3px 8px; */
	padding:0px;
	margin: 8px auto;
	cursor: pointer;
	font-family: "微软雅黑";
	font-size: 12px;
	text-align: center;
}
.surveyQuItemContent .quCoRightTools ul li .dwQuIcon{
	/* background: transparent url("../images/toolbar.png") 0px 0px no-repeat; */
	width: 25px;
	height: 25px;
	margin: 0px auto;
}
.surveyQuItemContent .quCoRightTools ul li.addMoreOption{
	margin-left: 2px;
}
.contactsFieldLi{
	display: none;
}

select option{
	padding: 5px;
}
.inputSytle_1{
	background: #fff url(../images/shadow-in.png?020) no-repeat;
	border: 1px solid #cececf;
	outline: none;
	height: 17px;
	padding: 4px 6px;
	font-size: 12px;
}
.tabbarDialog{
	position: fixed;
	z-index:200;
	border:1px solid #c0c0c0;
	background: white;
	top:40px;
	padding: 15px;
	line-height: 1.4em;
	font-family: "微软雅黑";
	color: #444;
	
	filter:alpha(opacity=92); /*IE滤镜，透明度50%*/
	-moz-opacity:0.92; /*Firefox私有，透明度50%*/
	opacity:0.92;/*其他，透明度50%*/
}
.tabbarDialog_1{
	background: white;
	padding: 5px 10px;
	line-height: 1.2em;
	font-family: "微软雅黑";
	font-size:14px;
	color: #444;
}
.p_DialogContent{
	margin: 5px;
}
.p_DialogContentTitle{
	font-size: 16px;
	padding: 5px;
	color: gray;
}
.p_DialogContentRoot{
	padding: 5px;
	padding-left: 10px;
}
.p_DialogContentItem{
	padding: 3px;
}
.tabbarDialogContent{
	visibility: visible;
}