/* CSS Document */
body{margin:0;padding:0;background: white;}
ul{margin:0;padding:0;list-style:none;}
a{text-decoration:none;}
img{border:0;}
form{margin:0;padding:0;}
.dw_syk1{ height:402px; padding-top:86px; background:url(../images/dw_bg1.png) center;}
.dw_syk1n{ width:1000px; margin:0 auto; position:relative;}
.dw_syk1n img{ position:absolute; top:-40px; right:0;}
.dw_syk1wz{ font-family:Microsoft YaHei; color:#fff;}
.dw_syk1wz h1{ margin:30px 0; font-weight:normal; font-size:32px; font-weight:500;}
.dw_syk1wz p{ font-size:20px; line-height:30px;margin-bottom:20px;}
.dw_syk1yxzc{}
.dw_emailsr{ width:278px; height:44px; border:solid 1px #cbcbcb; padding-left:10px; font-size:15px; color:#636363;}
.syzcbtn{ width:165px; height:50px; background:url(../images/dw_bgico.png) no-repeat 0 0; border:0; color:#fff; font-size:20px; font-family:Microsoft YaHei; position:relative; top:3px; left:-15px; cursor:pointer;}
.dw_syk2{ height:147px; background-color:#f8f8f8;}
.dw_syk2n{ width:958px; margin:0 auto; padding-top:30px; background:url(../images/dw_pic07.png) no-repeat 0 60px; overflow:hidden;}
.dw_syk2n ul{ width:710px; margin:0 auto; overflow:hidden;}
.dw_syk2n ul li{ width:90px; text-align:center; float:left; margin:0 70px;}
.dw_syk2n ul li font{ font-size:16px; color:#595959; font-family:Microsoft YaHei;}
.sjwj_ico{ width:58px;height:58px; background:url(../images/dw_bgico.png) no-repeat -166px 0; display:block; margin:0 auto;}
.fbwj_ico{ width:58px;height:58px; background:url(../images/dw_bgico.png) no-repeat -229px 0; display:block; margin:0 auto;}
.sjsj_ico{ width:58px;height:58px; background:url(../images/dw_bgico.png) no-repeat -291px 0; display:block; margin:0 auto;}
.dw_syk3{ background:url(../images/dw_pic03.jpg) repeat-x 0 453px;}
.dw_syk3n{ text-align:center;}
.dw_syk3bt{ font-size:32px; font-family:SimHei; text-align:center; padding:15px 0;}
.dw_syk3nr{ width:1000px; margin:0 auto; font-size:16px; color:#686868; font-family:Microsoft YaHei; line-height:25px; letter-spacing:2px; text-align:center;}
.dw_syk4{ height:476px; background:url(../images/dw_pic06.png) center;}
.dw_syk4bt{ text-align:center; height:137px; line-height:137px; font-size:24px; color:#fff; font-family:Microsoft YaHei; letter-spacing:4px;}
.dw_sytxnr{ width:900px; margin:0 auto; overflow:hidden; font-size:16px; color:#fff; font-family:Microsoft YaHei;}
.dw_sytxnr ul li{ float:left; width:50px; margin:0 50px 80px 50px; text-align:center;}
.dw_sytxnr ul li s{ display:block; width:29px; height:29px; margin:0 auto;}
.dw_sywjbdk{ width:915px; margin:0 auto; padding-top:25px; padding-bottom:55px; overflow:hidden;}
.dw_sywj{ width:420px; border-right:dashed 1px #ebebeb; padding-right:39px; float:left;}
.dw_sybd{ width:410px; padding-left:40px; float:left;}
.dw_sywjbdbt{ overflow:hidden;}
.dw_sywjbdbtl{ width:380px; height:45px; line-height:45px; font-size:21px; font-family:Microsoft YaHei; color:#676767; float:left;}
.dw_sywjbdbtr{ width:30px; height:45px; line-height:45px; float:left;}
.dw_sywjbdbtr a{ color:#676767; font-size:15px;}
.dw_sywjbdbtr a:hover{ color:#f90;}
.dw_sywjbdlb{ padding-top:10px;}
.dw_sywjbdlb ul li{ padding-bottom:15px; font-size:15px; overflow:hidden;}
.dw_sywjbdlbl{ width:296px; float:left;}
.dw_sywjbdlbl a{ color:#676767;}
.dw_sywjbdlbr{ float:left; color:#B7B7B7; font-family:arial;}
.dw_sywjbdlbl a:hover{ color:#f90;}
.dw_mfzc{ height:118px; background-color:#ebebeb;}
.dw_mfzcn{ width:950px; margin:0 auto;}
.dw_mfzcl{ width:500px; height:118px; float:left; line-height:118px; font-size:21px; color:#676767; font-family:Microsoft YaHei;}
.dw_mfzcr{ width:450px; height:88px; padding-top:30px; float:left;}
.dw_foot{ padding-top:35px; text-align:center;padding-bottom: 10px;}
.dw_footnav{ color:#464646; margin-bottom:8px;}
.dw_footnav a{ color:#464646; font-family:Microsoft YaHei; margin:0px 10px;}
.dw_footnav a:hover{ color:#f90;}
.dw_footcopy{ color:#676767; text-align:center; font-family:Microsoft YaHei; line-height:22px;}
.dw_footcopy p{line-height: 30px;}



.dw_content{ width:1000px; margin:0 auto; padding-bottom:50px; overflow:hidden;}
.dw_topmfzc{ padding:35px 25px 35px 25px; overflow:hidden;}
.dw_mfzcwz{ width:365px; height:36px; line-height:36px; font-size:19px; color:#929191; font-family:Microsoft YaHei; float:left;}
.dw_mfzcnr{ width:585px; height:36px; float:left; padding:0;}
.dw_mfzcsr{ width:400px; height:34px; line-height:34px; padding:0 10px; border:solid 1px #cfcfcf; font-size:14px; font-family:Microsoft YaHei; vertical-align:top;}
.dw_mfzcbtn{ width:131px; height:36px; letter-spacing:2px; background:url(../images/dw_bgico.png) no-repeat 0 -61px; border:0; cursor:pointer; color:#fff; font-size:19px; font-family:Microsoft YaHei; position:relative; left:-5px; margin:0;}
.dw_left{ width:224px; float:left; margin-right:12px;}
.dw_leftmk{ border:solid 1px #b4cfe4; margin-bottom:10px;}
.dw_leftmkbt{ height:40px; background-color:#f7f7f7; line-height:40px; text-align:center; color:#333232; font-size:16px; font-family:Microsoft YaHei;}
.dw_leftmkbt s{ display:inline-block; width:16px; height:13px; background:url(../images/dw_bgico.png) no-repeat 0 -106px; margin-right:5px; position:relative; top:1px;}
.dw_leftmknr{ padding:7px 0 10px 0;}
.dw_leftmknr ul li{ height:37px; margin-bottom:9px; text-align:center; line-height:37px; font-family:Microsoft YaHei; font-size:15px;}
.dw_leftmknr ul li.cur{ background:url(../images/dw_pic08.png) repeat-y 0 0; border-top:solid 1px #F7F7F7; border-bottom:solid 1px #F7F7F7;}
.dw_leftmknr ul li a{ color:#81898D;}
.dw_leftmknr ul li a:hover{ color:#f90;}
.dw_right{ width:762px; float:left;}
.dw_mbgs{ border:solid 1px #b4cfe4;}
.dw_mbgsbt{ height:38px; line-height:38px; padding:0 20px; background-color:#f9f9f9; color:#343333; font-family:Microsoft YaHei; font-size:16px;}
.dw_mbgsbtl{ float:left;}
.dw_gsbtback{ float:right;}
.dw_gsbtback a{ color:#343333;}
.dw_gsbtback a:hover{ color:#f90;}
.dw_mbgsnr{ padding:20px;}
.dw_mbgsnrk1{ width:100%; border-bottom:solid 1px #edeeef; padding-bottom:20px; position:relative; display:table;}
.dw_zzsj{ width:455px; float:left; font-family:Microsoft YaHei; color:#81898d; font-size:13px;}
.dw_yyxzhd{ float:left;}
.dw_yyxzhd ul li.btn{ float:left; width:81px; height:32px; margin-left:5px; border:solid 1px #e2e6eb; font-size:14px; font-family:Microsoft YaHei; color:#81898d; text-align:center; line-height:32px; cursor:pointer; position:relative;}
.dw_yyxzhd ul li s{ width:9px; height:5px; display:inline-block; background:url(../images/dw_bgico.png) no-repeat -20px -106px; margin-left:3px; margin-bottom:2px;}
.xzlist{ position:absolute; left:-1px; top:32px; width:81px; border:solid 1px #e2e6eb; background-color:#fff; display:none;}
.xzlist ul li{ height:32px; line-height:32px; font-size:14px; color:#2f383e; font-family:Microsoft YaHei;}
.xzlist ul li:hover{ background-color:#5b9fd0; color:#fff;}
.yymb{ background-color:#5b9fd0; color:#fff !important;}
.dw_mbwjbt{ padding:22px 0; text-align:center; font-size:19px; font-family:Microsoft YaHei; color:#484646;}
.dw_mbwjgs{ padding:10px 0 15px 0;}
.dw_mbwjgs p{ font-size:15px; font-family:Microsoft YaHei; color:#6b6b6b; line-height:25px; text-indent:2em;}
.dw_mbwjlb{ padding-left:23px; padding-bottom:30px;}
.dw_mbwjlb ul li{ font-size:15px; font-family:Microsoft YaHei; color:#6b6b6b; line-height:25px;}
.dw_yyxzhd2{ width:264px; height:34px; margin:0 auto;}
.dw_yyxzhd2 ul li.btn{ float:left; width:81px; height:32px; margin-left:5px; border:solid 1px #e2e6eb; font-size:14px; font-family:Microsoft YaHei; color:#81898d; text-align:center; line-height:32px; cursor:pointer; position:relative;}
.dw_yyxzhd2 ul li s{ width:9px; height:5px; display:inline-block; background:url(../images/dw_bgico.png) no-repeat -20px -106px; margin-left:3px; margin-bottom:2px;}


.dw_gnydt{ width:100%; height:400px; 
background:url(../images/dw_pic04.jpg) no-repeat center top;
/* background:url("../images/style-model/6608914805422388314.jpg") no-repeat center top; */
}
.dw_gnynr{ overflow:hidden; margin:0 auto;}
.dw_gnyzdy{ background-color:#fff; padding-bottom:77px;}
.dw_gnyzdywg{ width:1000px; margin:0 auto; padding-top:85px; overflow:hidden;}
.dw_gnyzdyl{ float:left; margin-right:53px;}
.dw_gnyzdyr{ float:left; width:340px; padding-top:85px;}
.dw_gnygnbt{ font-size:32px; font-family:'方正黑体简体'; margin-bottom:23px;}
.dw_gnymksm{ font-family:"微软雅黑"; color:#717171; font-size:16px; line-height:24px; margin-bottom:20px;}
.dw_gnyzdylb ul li{ background:url(../images/dw_pic09.png) no-repeat 0 6px; padding-left:15px; font-size:13px; color:#919191; font-family:"微软雅黑"; line-height:22px;}
.dw_gnysjbjw{ background-color:#F8F8F8; padding-top:112px; padding-bottom:178px;}
.dw_gnysjbj{ width:1000px; margin:0 auto; overflow:hidden;}
.dw_gnysjbjl{ width:350px; float:left; padding-top:125px; margin-right:50px;}
.dw_gnysjbjr{ width:600px; float:left;}
.dw_gnydtxw{ padding-top:84px; padding-bottom:84px;}
.dw_gnydtx{ overflow:hidden;width:1000px; margin:0 auto;}
.dw_gnydtxl{ width:465px; float:left; margin-right:145px;}
.dw_gnydtxr{ width:345px; float:left; padding-top:150px;}
.dw_gnydtljw{ padding-top:74px; padding-bottom:74px; background-color:#F8F8F8;}
.dw_gnydtlj{ overflow:hidden; width:1000px; margin:0 auto;}
.dw_gnydtljl{ width:345px; float:left; margin-right:105px; padding-top:140px;}
.dw_gnydtljr{ width:495px; float:left;}
.dw_gnysjtjw{ padding-top:108px; padding-bottom:105px;}
.dw_gnysjtj{ overflow:hidden; width:1000px; margin:0 auto;}
.dw_gnysjtjl{ width:555px; float:left; margin-right:65px;}
.dw_gnysjtjr{ width:340px; float:left; padding-top:130px;}
.dw_gnydqdw{ padding-top:128px; padding-bottom:142px; background-color:#F8F8F8;}
.dw_gnydqd{ overflow:hidden; width:1000px; margin:0 auto;}
.dw_gnydqdl{ width:338px; float:left; padding-top:100px; margin-right:75px;}
.dw_gnydqdr{ width:542px; float:left;}

.friend_links a{
	color: gray! important;
}