.edui-editor-iframeholder{
  display: none;
}
.edui-default .edui-editor-toolbarboxouter{
  border: none! important;
}
#resultProgressRoot{
  right: -80px;
  bottom: 100px;
  width: 200px;
  z-index: 200;
  position: fixed;
  /*transform: rotate(90deg);
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transform:rotate(90deg);
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/
  right: 10px;
  bottom: 50px;
}
.progress-label {
  font-size:14px;
  font-family: "微软雅黑";
  margin: 0px auto;
  text-align: center;
  line-height: 1.4em;
  color: #83AE00;
}
.progressbarDiv {
  height: 10px! important;
  box-shadow: none! important;
  border: 1px solid #83AE00;
}
.progressbarDiv .ui-progressbar-value{
  background: #83AE00! important;
  border: none;
}
.ui-progressbar .ui-progressbar-value{
  margin: 0px;
}
.ui-progressbar {
  position: relative;
  background: none! important;
}
.quOptionEditTd .editAble,.scoreNumTable tr td,.quCoItemTable{
  font-size: 16px;
}
label.error{
  font-size: 14px;
}
