/*** old ***/
.starRating{
  font-size: 26px;
}
.starRating .fa{
  cursor: pointer;
}
.starRating .fa-star{
  color: #3388CC;
}
.subbtn{
  opacity:1! important;
  color: white;
}
.m_quOrderByUi{
  margin: 5px 0 5px 0;
  padding: 0;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}
.m_quOrderByUi li{
  border-color: #fff;
  font-size: 16px;
  min-height: 41px;
  position: relative;
  padding-right: 45px!important;
  border-bottom: 1px solid #EBEBEB!important;
}
.m_orderby_num{
  position: absolute;
  right: 10px;
  top: 55%;
  margin-top: -15px;
  min-width: 26px;
  height: 26px;
  background: #85C8FF;
  color: #fff;
  text-align: center;
  line-height: 26px;
  border-radius: 15px;
  z-index: 100;
  display: none;
}
.m_orderby_sel{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 30px;
  z-index: 9999;

  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(166, 166, 166);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;

  display: inline-block;
}

body{
  padding: 0px;
  margin: 0px;
}
/*** new ***/
#answer-m-head .dwSvyName{
  color: #365f8f;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  font-size: 22px;
  padding: 10px 0px;
}
#dwSurveyNoteEdit{
  padding: 10px 0px;
  color: grey;
  font-size: 13px;
  line-height: 22px;
}
#answer-m-content{
  padding-top: 10px;
}
#dwSurveyQuContentAppUl{
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#dwSurveyQuContentAppUl > li{
  padding-bottom: 20px;
}
#dwSurveyQuContentAppUl > li .surveyQuItemContent legend{
  font-weight: bold;
  color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
}

.surveyQuItem .surveyQuItemContent {
  padding: 0px;
  border: none;
  width: 100%;
}
.surveyQuItemContent .dwQuOptionItemContent{
  margin: .5em 0;
  position: relative;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  color: #333;
  /*text-shadow: 0 1px 0 #f3f3f3;*/
  padding: 6px 10px;
  border-radius: .3125em;
  font-size: 14px;
  background-color: white;
}
.surveyQuItemContent .columnItemContnetTd .dwQuOptionItemContent{
  margin: 0px;
  background-color: white;
  border: none;
  color: #333;
  text-shadow: none;
  padding: 0px;
  border-radius: 0em;
  font-size: 14px;
}
.surveyQuItemContent .dwQuOptionItemContent:active{
  border-color: rgb(129, 152, 186);
  border-color: #5aa9ef;
  border-color: #1e94fc;
  background: #dae8f5;
  background: white;
  border-color: #ddd;
}
.surveyQuItemContent .dwQuOptionItemContent.active{
  border-color: #1e94fc;
  background: #dae8f5;
  background: white;
  background-color: #e4edf7;
}
.surveyQuItemContent .dwQuOptionItemContent input{

}
.surveyQuItemContent .dwQuOptionItemContent label{
  margin: 0;
  text-align: left;
  white-space: normal;
  z-index: 2;
}
.surveyQuItemContent .inputSytle_1,.surveyQuItemContent .inputSytle_2{
  display: block;
  width: 100%;
  outline: 0;
  margin: 0;
  text-align: left;
  padding: 6px 0px;
  margin-top: 10px;
  border: 1px solid #ddd;
  text-indent: 6px;
}
.dwQuOptionItemContent input[type='radio'],.dwQuOptionItemContent input[type='checkbox']{
  display: none;
}
/**  单选样式***/
.dwQuOptionItemContent .dwRedioStyle {
  background: transparent url(../images/answer-icon-1.png) no-repeat center top;
  vertical-align: middle;
  height: 22px;
  width: 22px;
  background-position: -2px -6px;
  display:inline-block;;
}
.dwQuOptionItemContent .dwRedioStyle.checked{
  background-position: -2px -31px;
}
/**多选样式**/
.dwQuOptionItemContent .dwCheckboxStyle {
  background: transparent url(../images/answer-icon-1.png) no-repeat center top;
  vertical-align: middle;
  height: 22px;
  width: 22px;
  background-position: -2px -60px;
  display:inline-block;
}
.dwQuOptionItemContent .dwCheckboxStyle.checked{
  background-position: -2px -87px;
}
.ui-controlgroup-controls{
  border-bottom:1px solid #ddd;
  margin-top: 8px;
}
.ui-controlgroup-controls .m_clickQuOrderItem{
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  color: #333;
  text-shadow: 0 1px 0 #f3f3f3;
  font-size: 14px;
  border-radius: 0px;
  border-bottom: none;
}
.ui-controlgroup-controls .m_clickQuOrderItem:first-child{

}
.ui-controlgroup-controls .m_clickQuOrderItem label{
  border: none;
  font-weight: normal;
}

.surveyQuItemContent .mFillblankTableTr label{
  display: block;
  margin: 0 0 .4em;
}

.surveyQuItemContent .mFillblankTableTr{
  margin: 10px 0px;
}
.surveyQuItemContent .mFillblankTableTr .surveyQuItemContent .dwQuOptionItemContent.dwQuOptionItemContent label{
  display: inline-block;
  margin: 0px;
}
.surveyQuItemContent .quSliderItemTr .mFillblankTableEditTd label{
  margin: 0px;
}

.surveyQuItemContent .mFillblankTableTr .dwMFillblankInput,input[type='text'].fillblankInput{
  width: 100%;
  outline: 0;
  margin: 0;
}
.surveyQuItemContent .mFillblankTableTr .dwMFillblankInput,input[type='text'].fillblankInput,.option_other_text{
  display: block;
  border: 1px solid #ddd;
  text-align: left;
  box-sizing: border-box;
}
.nextPage_a, .submitSurvey{
  width: 100%;
  line-height: 25px;
  border-radius: 2px;
  padding: 8px 0px;
  margin-left: 0px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background: #1e94fc;
  border: none;
  background: #4F8BFF;
}
.nextPage_a:hover, .submitSurvey:hover{
  background: #1759e8;
  background:-moz-linear-gradient(top, #1759e8,#1759e8);
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#1759e8), to(#1759e8));
}
.dw-footer{
  display: block;
  padding: 20px 0px;
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  padding-top: 30px;
  color: #333;
  background-color: #eeeeee;
}
.dw-footer a{
  color: #333;
}

.dwsurvey-controlgroup{
  margin: 6px;
  margin-bottom: 8px;
  margin-left: 0px;
}
.dwsurvey-controlgroup .starOptionTitle{
  font-size: 14px;
}
.dwsurvey-controlgroup .starOptionContent{
  font-size: 14px;
}
.starRating{
  font-size: 14px;
}
.starRating .fa{
  cursor: pointer;
  padding: 3px;
}
.starRating .fa-star{
  color: #365f8f;
}
.quCoItem ul li{
  list-style: none;
}
.radioSelectSet select{
  width: 100%;
  border: 1px #cecad2 solid;
  margin: .5em 0;
  outline-style: none;
}

.quCoItem > ul {
  margin: 0px;
  padding: 0px;
}
body{
  background: white;
}
.ui-page {
  background:white;
}
.ui-header{
  background-color: #5693C0! important;
  text-shadow:0 1px 0 #3D586C! important;
  padding-bottom: 5px;
  background-color: #5aa9ef! important;
}
.ui-content{
  padding: 0px 1em;
}
.ui-footer{
  color: #3D586C! important;
  background: none! important;
}
.ui-header, .ui-footer{
  border: none! important;
}
.starRating .fa{
  cursor: pointer;
}
.starRating .fa-star{
  color: #3388CC;
}
.subbtn{
  opacity:1! important;
  color: white;
}
.quTitleNum{
  /* position: absolute; */
}
.quTitleText{
  /* text-indent: 2em; */
}
#dwSurveyNote{
  padding-top: 0px;
}
.m_quOrderByUi{
  margin: 5px 0 5px 0;
  padding: 0;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}
.m_quOrderByUi li{
  border-color: #fff;
  font-size: 16px;
  min-height: 41px;
  position: relative;
  padding-right: 45px!important;
  border-bottom: 1px solid #EBEBEB!important;
}
.m_orderby_num{
  position: absolute;
  right: 10px;
  top: 55%;
  margin-top: -15px;
  min-width: 26px;
  height: 26px;
  background: #85C8FF;
  color: #fff;
  text-align: center;
  line-height: 26px;
  border-radius: 15px;
  z-index: 100;
  display: none;
}
.m_orderby_sel{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  font-size: 30px;
  z-index: 9999;

  background-color: rgb(248, 248, 248);
  border: 1px solid rgb(166, 166, 166);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;

  display: inline-block;
}

#resultProgressRoot{
  top: 0px;
  z-index: 200;
  position: fixed;
  width: 100%;
  background-color: #cecad2;
  background-color: #e0e0e0;
}
.progress-label {
  font-size:14px;
  font-family: "微软雅黑";
  margin: 0px auto;
  text-align: center;
  line-height: 1.4em;
  color: #0887d2;
  display: none;
}
.progressbarDiv {
  height: 3px! important;
  box-shadow: none! important;
  /*border: 1px solid #0887d2;*/
  border-radius: 0px! important;
}

.progressbarDiv .ui-progressbar-value{
  background: #0887d2;
  border: none;
}
.progressbarDiv .ui-widget-header{
  background: #0887d2;
}
.ui-progressbar .ui-progressbar-value{
  margin: 0px;
}
.ui-progressbar {
  position: relative;
  background: none! important;
}
p{
  /*display: inline;*/
}
.nextPage_a,.submitSurvey {
  width: 100%;
  line-height: 25px;
  border-radius: 3px;
  padding: 8px 0px;
  margin-left: 0px;
}
html head+body .ui-btn.ui-btn-b,html head+body .ui-btn.ui-btn-b:hover{
  background-color: #00a0df;
  border-color: #00a0df;
  text-shadow: 0 1px 0 #00a0df;
}
.sbtn24{
  background-image: none;
  background-color: #00a0df;
  background: #4F8BFF;
  color: white!important;
  font-size: 12px;
  height: 25px;
}
.sbtn24:active{
  background-color: #008dc9;
}
.sbtn24_0:hover{
  background: #1759e8;
}
#dwSurveyHeaderTopImg {
  height: auto; width: auto\9; width:100%;
}

#dwSurveyQuContentBg{
  /*margin: 16px;
  margin-bottom: 0px;
  */
  padding: 16px;
  padding-bottom: 0px;
}
.dwQuCoChenRowTr {
  margin-top: 10px;
}
.dwScoreRowItem {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.dwScoreRowItem .dwQuCoScoreCol{
  margin-top: 10px;
}
#jcaptchaImgBody{
  font-size: 14px;
}
.jcaptchaInput{
  display: block;
  width: 100%;
  outline: 0;
  margin: 0;
  text-align: left;
  padding: 6px 0px;
  margin-top: 10px;
  border: 1px solid #ddd;
  text-indent: 6px;
}
#register-jcaptchaImg{
  width: 110px!important;
}
#diaowen-m-content{
  background-color: white;
}



#dwSurveyHeaderTop{
  /*background: #cecad2;*/
  /*display: none;*/
  /*background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;*/
}

#dwSurveyHeaderTopImg,#dwSurveyLogo{
  display: none;
}
#dwSurveyHeaderTopImg img,#dwSurveyLogo img{
  border: none;
}

#dwSurveyHeaderTopImg{
  width:100%;
  height:auto;
}
#dwSurveyHeaderTop.bgImg #dwSurveyHeaderTopImg{
  display: block;
}
#dwSurveyHeaderTop.bgImg #dwSurveyLogo{
  position: absolute;
  top: 10px;
}

table.quScaleTable tr td{
  padding: 3px;
  padding: 0px;
}

.dwQuOptionItemContent.inputchecked {
  background-color: dodgerblue;
  color: white;
}
table.quScaleTable tr td.quCoChenTdRC:hover{
  border: 1px solid transparent;
}
.cascadeSelectSet select,.radioSelectSet select{
  width: 100%;
  display: block;
}
.diaowen-m-content img{
  width: 100%;
}
.surveyQuItemContent .quCoItem.imgSelectQu{
  /*margin-top: 10px;*/
}
.surveyQuItemContent .quCoItem ul.transverse{
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
  /*align-content: space-between;*/
}
@media(max-width:300px){
  .imgQuCoItemUlLi{
    width: 100%;
  }
  .surveyQuItemContent .imgSelectQu ul.transverse {
    justify-content: space-between;
  }
}
@media(min-width:300px){
  .imgQuCoItemUlLi{
    width: 49%;
  }
  .surveyQuItemContent .imgSelectQu ul.transverse {
    justify-content: space-between;
  }
}
@media(min-width:600px){
  .imgQuCoItemUlLi{
    width: 32%;
  }
  .surveyQuItemContent .imgSelectQu ul.transverse {
    justify-content: flex-start;
  }
  .surveyQuItemContent .imgSelectQu ul.transverse .quCoItemUlLi{
    margin-right: 1%;
  }
}
@media(min-width:900px){
  .imgQuCoItemUlLi{
    width: 22%;
  }
  .surveyQuItemContent .imgSelectQu ul.transverse {
    justify-content: flex-start;
  }
  .surveyQuItemContent .imgSelectQu ul.transverse .quCoItemUlLi{
    margin-right: 1%;
  }
}

.surveyQuItemContent .imgSelectQu ul.transverse .quCoItemUlLi{
  /*margin-right: 10px;*/
  /*margin-bottom: 10px;*/
  /*margin-top: 10px;*/
  margin-top: 10px;
}
.surveyQuItemContent .dwQuOptionItemContent.imgItemContent{
  border: none;
  background: none;
  text-align: left;
  padding-left: 0px;
  margin: 0px;
  padding: 0px;
}
.choicequ_img_item{
  text-align: center;
  border: 1px solid lightgrey;
  padding: 6px;
  padding-bottom: 8px;
  /*width: 180px;*/
}
.choicequ_img_item_add{
  border: 1px dashed lightgrey;
  padding: 6px;
  padding-bottom: 8px;
  cursor: pointer;
}
.choicequ_img_item_img{
  margin-bottom: 6px;
  position: relative;
  /*height: 160px;*/
  overflow: hidden;
}
.choicequ_img_item_action {
  position: absolute;
  left: 0;
  bottom: 0;
  /*height: 160px;*/
  width: 100%;
  line-height: 30px;
  z-index: 100;
  opacity: 0.6;
}
.choicequ_img_item_action .editQuImg{
  width: 60px;
  height: 45px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  display: block;
  border:1px solid white;
  border-radius:60px;
  background: black;
  color: white;
  margin-top: 50px;
  margin-left: 50px;
  padding-top: 15px;
  display: none;
}
.choicequ_img_item_img:hover .choicequ_img_item_action .editQuImg{
  display: block;
}
.choicequ_img_item_action .editQuImg:hover{
  background: #b06886;
}
.choicequ_img{
  width: 100%;
}
.imgSelectQu img{
  width: 100%;
}
.leftValue,.rightValue{
  font-size: 12px;
  color: #757575;
}
table.chenTable{
  border-right: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  border-spacing: 0px;
}

table.chenTable tr.quCoChenTableHead td{
  background: #dddddd;
  padding: 3px;
}
table.chenTable tr td{
  border-spacing: 0px;
  word-break: keep-all;
  white-space: nowrap;
}
.chenTable td {
  border-left: 1px solid #c9c9c9;
  border-top: 1px solid #c9c9c9;
}

.chenTableRowColumn, .chenTableRowColumn td{
  padding: 0px;
  margin: 0px;
}
.chenScaleRadioRow .columnItemContnetTd .dwQuOptionItemContent{
  padding: 6px;
  cursor: pointer;
}

table.chenScaleTable{
  background: none;
  border: none;
}
.chenScaleTable  tr.quCoChenTableHead td{
  background: none;
}
.chenScaleTable td {
  border: none;
  border: 1px solid transparent;
}
table.chenScaleTable tr.quCoChenTableHead td {
  background: none;
}
table.chenScaleTable .chenScaleRadioRow .columnItemContnetTd{
  padding: 3px;
  padding-bottom: 10px;
}
table.chenScaleTable .chenScaleRadioRow .columnItemContnetTd .dwQuOptionItemContent {
  border: 1px solid rgb(221, 221, 221);
  border-radius: 0.3125em;
}
table.chenScaleTable .chenTableRowTitle td{
  padding: 6px;
  font-size: 16px;
  color: #6b6767;
  padding-bottom: 0px;
}
table.scaleLeftRightTable tr td{
  color: #757575;
  font-size: 12px;
}
.nextPage_a{
  display: block;
}
.dwQuChenFbkOptionItemContent{
  margin-top: 10px;
}
.dwChenMFillblankInput{
  width: 100%;
}
table.quCoChenTable{
  width: 100%;
}
select{
  width: 100%;
}
table.dwQuCoChenRowTrTable{
  min-width: 100%;
  max-width: none;
}
table.dwQuCoChenRowTrTable tr td{
  /*border: none;*/
}
table.dwQuCoChenRowTrTable tr td{

}
table.dwQuCoChenRowTrTable .quChenColumnTd{
  padding: 6px;
}
table.quCoChenTable tr td.quChenRowTitleTrTd label{
  max-width: none;
}
.quChenRowTitleTrTd,.quChenRowTitleTrTd label{
  text-align: left;
}
table.dwQuCoChenRowTrTable tr td{
  padding: 0px;
}
table.dwQuCoChenRowTrTable tr td:first-child{

}
table.dwQuCoChenRowTrTable .quChenRowTitleTr td.quChenRowTitleTrTd{
  padding: 5px;
}
table.dwQuCoChenRowTrTable .dwQuOptionItemContent{
  margin: 0px;
  border: none;
  border-radius: 0;
}
table.dwQuCoChenRowTrTable tr td .dwQuChenFbkOptionItemContent{
  margin-top: 0px;
}
table.dwQuCoChenRowTrTable tr td .inputSytle_1,table.dwQuCoChenRowTrTable tr td select{
  margin: 0px;
  border: none;
  min-width: 100px;
}
table.quCoChenTable tr td{
  word-break: keep-all;
  white-space: nowrap;
}
tr.quChenRowTitleTr .quChenRowTitleTrTd{
  background: #f3f3f3;
}
.nextPage_a, .submitSurvey{
  background: dodgerblue;
  border-radius: 0px;
  background:-moz-linear-gradient(top, dodgerblue,dodgerblue);
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(dodgerblue), to(dodgerblue));

}
input[type=button],input[type=text],input[type=password],textarea,button{
  -webkit-appearance:none;outline:none;
  -webkit-border-radius: 0px;
}
select{
  -webkit-border-radius: 0px;
  background-color: white;
}
.columnItemContnetTd .quCoItemUlLi{
  margin-right: 20px;
}
.surveyQuItemContent .quCoChenTdRC .dwQuOptionItemContent{
  margin: .5em auto;
  width: 20px;
  padding: 6px 4px;
  /*量表11个选项不出滚动*/
  /*
  width: 18px;
  padding: 6px 3px;*/
}
.dwQuOptionItemContent p{
  display: inherit;
}
