@CHARSET "UTF-8";
body{
	padding: 0px;
	margin: 0px;
}
.root-body,.root-body1{
	width: 100%;
}
.root-body{
	/*background:white;*/
}
a{
	text-decoration: none;
}

.top-body{
	 
	/* -webkit-box-shadow: 0 0 25px #1F91E6;
	box-shadow: 0 0 25px #1F91E6;
	background-color: #DADADA; */
	width: 100%;
	position: fixed;
	border-bottom: 3px solid #08A2BE;/* #1F91E6*/
	opacity: .8;
	filter: alpha(opacity=80);
	-ms-filter: "alpha(opacity=80)";
	background-color: white;
	height: 40px;
}
.top-body-content{
	width: 80%;
	margin: 0px auto;
}
.top-body-content-logo{
	width: 220px;
	height: 40px;
	/* float: right; */
}
.top-body-content-h1 {
	float: left;
	height: 25px;
	display: table;
	padding-top: 10px;
}
.top-body-content-h1 h1{
	font-size: 20px;
	color: #333;
	letter-spacing: 2px;
	padding: 0px;
	margin: 0px;
}

.middle-body,.middle-body1{
	/* width: 80%; */
	width:800px;
	margin: 0px auto;
	
	
	padding: 50px 20px 10px 20px;
	*padding-top:40px;
	_padding-top:10px;
	background-position: center top;
	background-repeat: no-repeat;
	/*
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa; 
	
	- webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; */
	border: 1px solid rgb(219, 218, 218);
}
.middle-body{
		height: 200px;
		background: #EFEFEF; 
		background: white;
}
.middle-body1{
	margin-top:10px;
	padding: 15px;
	-webkit-box-shadow: 0 0 15px #aaa;
	box-shadow: 0 0 15px #aaa;
}

.middle-body-title {
	border-bottom: 3px solid #676767;
}
.middle-body-title h3{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.middle-body-title h4{
	margin: 0px;
	padding-top: 5px;
	color: #676767;
	padding-bottom: 8px;
}
.middle-body-title p{
	margin: 5px 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 20px;
	text-indent: 2em;
	padding: 0px 25px;
	color: #333;
	padding-bottom: 5px;
}
.middle-body-content{
	padding: 10px 35px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #373A3D;
}
.r-qu-body{
	padding: 10px;
	clear: both;
	display: table;
	width: 100%;
}
.r-qu-body:HOVER{
	background-color: #FBFBFB;
}
.r-qu-body-title{
	font-weight: bold;
	padding: 5px;
	/* background-color: #C2D7E8; */
	/* border: 1px solid #97CAE8; */
}
.r-qu-body-title p{
	margin: 0px;
	padding: 0px;
	display: inline;
}
.r-qu-body-ul1{
	list-style: none;
	margin: 0px;
	padding: 5px 10px;
	width: 100%;
}
.r-qu-body-ul1 li{
	padding: 5px;
	padding-right: 25px;
	display: table;
	width: 95%;
	vertical-align: middle;
}
.r-qu-body-ul1 li:HOVER {
	/* background-color: #EAEAEA; */
	cursor: default;
	/* -webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa; */
	background: #E8F2FE;
}
.r-qu-body-ul3 li:HOVER{
	cursor: default;
}
.r-qu-body-ul2 li{
	float: left;
	width: auto;
}

.quItem-ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	table-layout: fixed;
}
.quItem-ul .quItemOptionName{
	margin-top: 1px;
	font-size: 14px;
}
.quItem-ul .optionMulfbk{
	margin-top: 6px;
}
.quItem-ul p{
	margin: 0px;
	padding: 0px;
}
.quItem-ul li{
	float: left;
	display: table;
	margin: 0px;
	padding: 0px;
	word-wrap: break-word;
	word-break: break-all;
	width: auto;
	max-width: 930px;
	line-height: 19px;
	font-size: 14px;
	color: #373A3D;
	display: table-cell;
	vertical-align: inherit;
	/* _line-height: 20px;
	 max-width: 95%; */
}
.quItem-ul input[type='checkbox'],.quItem-ul input[type='radio']{
	/* margin-top: 0px; */
/* 	margin-top: 4px; */
	/* _margin-top:0px; */
}
.quItem-ul01li input[type='checkbox'],.quItem-ul01li input[type='radio']{
	/* margin-top: 3px; */
}
.quItem-ul01li div{
	float: left;
	vertical-align: middle;
}
.quItem-ul01li .inputCk{
	padding-top: 4px;
}
.quItem-ul01li .quItemName{
	padding-top: 5px;
}
.quItem-ul li:HOVER {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.button-body-btn{
	border-top:1px solid gray;
	padding:15px  10px 10px 60px;
}

.footer-copyright{
	margin-top:20px;
	width: 100%;
	height: 30px;
	text-align: center;
}
.msg1{
	color: #676767;
}
.msg2{
	color: #D04E0F;
}
a.msg21:HOVER {
	/* color: #2EADC7; */
	font-weight: bold;
}

.qusTable{
	margin-top: 5px;
	margin-left: 20px;
	border-collapse:collapse; 
	table-layout:fixed; 
	word-break: break-all;
	/* border: 1px solid #CE74B1; */
	
	/* -webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa; */

	margin-bottom: 8px;
}
.qusTable tr th{
	background: #D3D3D3;
	/* background:#CE74B1; */
	padding: 3px 6px;
	color: white;
	font-size: 14px;
	font-weight: normal;
}
.qusTable tr td{
	/* border-bottom: 1px solid gray; */
	padding: 5px;
}
.qusTable tr:hover{
	background: #E8F2FE;
}
.qusTable p{
	margin: 0px;
	padding: 0px;
}
.quItemNote{
	float:left;
	padding-left: 30px;
	font-size: 12px;
	color: #939393;
}

.priviewPositionBtn{
	position: fixed;
	right: 20px;
	top: 12px;
	z-index: 10;
}

.suQuTable{
	border: none;
	width: 100%;
}

.suQuTable tr{
	
}
.suQuTable tr td{
	border: none! important;
	height: 32px! important;
	/* padding-right: 0px! important; */
}
.suQuTable tr td p{
	margin: auto;
}
.suQuTable tr:HOVER{
	background: #E8F2FE! important;
}
.bfbTd{
	color: #F68181;
}
.tdAnCount{
	color: #5C5C5C;
}